<!-- remote file: error-messages.html -->
<div class="frame-error-arrowup" ng-message="required">You left the field blank...</div>
<div class="frame-error-arrowup" ng-message="minlength">The field is too short</div>
<div class="frame-error-arrowup" ng-message="maxlength">The field is too long</div>
<div class="frame-error-arrowup" ng-message="email">Sorry, this is an invalid email address...</div>
<div class="frame-error-arrowup" ng-message="unique">Sorry, this user name is already taken...</div>