<div id="frame-users">
	<div id="users-admin-nav-container">        
			  <div class="container">
		         <div class="row">
		            <div class="pull-left incidence-details">		
		              	<span class="icon-navbar-container btn btn-default">
		              		<a ui-sref="helpdesk.admin.users.create.user"><img src="/modules/administration/images/icons/plus-24.png" alt="Create User"/></a>
		            	</span>                       
		                <span class="icon-navbar-container btn btn-default">
		              		<a ui-sref="helpdesk.admin.users.create.list"><img src="/modules/administration/images/icons/add-list-24.png" alt="Create User"/></a>
		            	</span>
		            	<span class="icon-navbar-container btn btn-default">
		              		<a ui-sref="helpdesk.admin.users.create.user"><img src="/modules/administration/images/icons/plus-24.png" alt="Create User"/></a>
		            	</span>                       
		                <span class="icon-navbar-container btn btn-default">
		              		<a ui-sref="helpdesk.admin.users.create.list"><img src="/modules/administration/images/icons/add-list-24.png" alt="Create User"/></a>
		            	</span>
		            	<span class="icon-navbar-container btn btn-default">
		              		<a ui-sref="helpdesk.admin.users.create.user"><img src="/modules/administration/images/icons/plus-24.png" alt="Create User"/></a>
		            	</span>                       
		                <span class="icon-navbar-container btn btn-default">
		              		<a ui-sref="helpdesk.admin.users.create.list"><img src="/modules/administration/images/icons/add-list-24.png" alt="Create User"/></a>
		            	</span> 
		            </div>
		        </div>
		      </div>
	</div>
	<div ui-view class="frame-users-content"></div>
</div>