<section ng-init="find()">
		<div class="row-fluid">	
		  	<div class="span12 list-users-container">
			    <table tr-ng-grid="" items="users" selected-items="selectedUsers" selection-mode="SingleRow" >
				    <thead>
				        <tr>
				            <th field-name="username" cell-width="5em">Username</th>  
				            <th field-name="email" cell-width="5em">Email</th>
				            <th field-name="role" cell-width="3em">Role</th>
				            <th field-name="membership" cell-width="3em">Memebership</th>
				        </tr>
				    </thead>
		            <tbody>
		                <tr>
		                </tr>
		            </tbody>
		            <tfoot>
		                <tr>
		                    <td colspan="10">	
		                        <form class="form-inline tr-ng-grid-footer" grid="">
		                            <div class="pull-left" tr-ng-grid-global-filter=""></div>
		                            <div class="pull-right" tr-ng-grid-pager=""></div>
		                        </form>
		                    </td>
		                </tr>
		            </tfoot>
		        </table>
		  	</div>
		</div>  	
</section>