<div id="frame-users">
	<div id="users-admin-nav-container">        
			<div class="row">
		    	<span class="icon-navbar-container btn btn-default" popover-placement="bottom" popover="List of users" popover-trigger="mouseenter">
		      		<a ui-sref="helpdesk.admin.users"><img src="/modules/administration/images/icons/list-24.png" alt="Create User"/></a>
		    	</span> 		
		      	<span class="icon-navbar-container btn btn-default" popover-placement="bottom" popover="Create user" popover-trigger="mouseenter">
		      		<a ui-sref="helpdesk.admin.users.create.user"><img src="/modules/administration/images/icons/plus-24.png" alt="Create User"/></a>
		    	</span>                       
		        <span class="icon-navbar-container btn btn-default" popover-placement="bottom" popover="Import Excel" popover-trigger="mouseenter">
		      		<a ui-sref="helpdesk.admin.users.create.list"><img src="/modules/administration/images/icons/excel-24-yellow.png" alt="Create User"/></a>
		    	</span>                     
			</div>
	</div>
	<div ui-view class="frame-users-content"></div>
</div>