<div class="col-sm-3 col-md-2 sidebar">
  <accordion close-others="oneAtATime">
   
    <accordion-group>
    	<accordion-heading heading="Notifications" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
    		Notifications <img src="/modules/common/desk/images/icons/warning-3-24.png"/>
    	 </accordion-heading>
       You have a new <img src="/modules/common/desk/images/icons/message-24.png"/>
    </accordion-group>
    
    <accordion-group ng-repeat="group in menu">
      <accordion-heading>
        {{group.title}}
      </accordion-heading>
        <div ng-repeat="action in group.action">
          <a ui-sref="{{action.state}}">{{action.title}}</a>
        </div>
       
    </accordion-group >
  
  </accordion>
</div>