
.frame-accounts{
	margin-top: 16px;
}

/****** FORM ******/

.school-select{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	padding: 5px;
}

/****** LIST *******/

.list-accounts{	
	padding:0px;
	background-color: white;
	border: solid #517fa4 1px;
}