body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: transparent;
}

#app{
  min-height:96%;position:relative;
}


/**********/
/* FOOTER */
/**********/

.footer {
  position: relative;
  left:0px;
  bottom:0px;
  width:100%;
  color: #adadad;
  height: 35px;
  padding-top: 9px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 16px -2px rgba(20,20,20,1);
  -moz-box-shadow: 0px 3px 16px -2px rgba(20,20,20,1);
  box-shadow: 0px 3px 16px -2px rgba(20,20,20,1);
  /*background-image:url('/modules/helpdesk/images/svgs/greenAndYellow.svg');
    background-image:url('/modules/helpdesk/images/svgs/greenCircles.svg');
    background-image:url('/modules/helpdesk/images/svgs/greenAndBlue.svg');*/
  background-color: black;

}
.footer p {font-size: 11px;}
.footer a {color: #d2f4ec;}

/* /////// */

/**************/
/* Components */
/**************/


input.ng-pristine, textarea.ng-pristine { border-radius: 1px 1px 1px 1px;
  border-radius: 1px 1px 1px 1px;
  -moz-border-radius: 1px 1px 1px 1px;
  -webkit-border-radius: 1px 1px 1px 1px;
  border: 1px solid NavajoWhite;}
input.ng-dirty.ng-valid, textarea.ng-dirty.ng-valid{
  border-radius: 1px 1px 1px 1px;
  -moz-border-radius: 1px 1px 1px 1px;
  -webkit-border-radius: 1px 1px 1px 1px;
  border: 1px solid #9AF0A6;}
input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid{ border:1px solid #FC6F71; }
input.ng-dirty.ng-valid ~ span.ok, textarea.ng-dirty.ng-valid ~ span.ok{ 
  border-radius: 1px 1px 1px 1px;
  -moz-border-radius: 1px 1px 1px 1px;
  -webkit-border-radius: 1px 1px 1px 1px;
  border: 1px solid #9AF0A6; display:inline; }
input.ng-dirty.ng-invalid ~ span.ko, textarea.ng-dirty.ng-invalid ~ span.ko{ color:#FC6F71; display:inline; } 

.frame-form{
  padding: 30px;
}
.form-line-frame{
  padding-bottom: 25px;
}

.frame-error-arrowup {
  text-align: center;
  position: relative;
  background: #990000;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #c2e1f5;
  padding: 7px;
  color: white;
  margin-bottom: 20px;
  z-index: 0;
}

.frame-error-arrowup:after, .frame-error-arrowup:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.frame-error-arrowup:after {
  border-color: rgba(153, 0, 0, 0);
  border-bottom-color: #990000;
  border-width: 10px;
  margin-left: -10px;
}
.frame-error-arrowup:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #c2e1f5;
  border-width: 11px;
  margin-left: -11px;
}

.frame-error-arrowdown {
  text-align: center;
  position: relative;
  background: #990000;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #c2e1f5;
  padding: 7px;
  color: white;
  z-index: 0;
}

.frame-error-arrowdown:after, .frame-error-arrowdown:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.frame-error-arrowdown:after {
  border-color: rgba(153, 0, 0, 0);
  border-top-color: #990000;
  border-width: 10px;
  margin-left: -10px;
}
.frame-error-arrowdown:before {
  border-color: rgba(153, 0, 0, 0);
  border-top-color: #c2e1f5;
  border-width: 11px;
  margin-left: -11px;
}


.full-width{
  width: 100%;
}
.full-height{
  height: 100%;
}

.absolute{
  position: absolute;
}
.relative{
  position: relative;
}


/* /////// */
