body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: transparent;
}

#app{
  min-height:96%;position:relative;
}

/* /////// */

/**********/
/* FOOTER */
/**********/

.footer {
  left:0px;
  bottom:0px;
  width:100%;
  color: #adadad;
  height: 35px;
  padding-top: 9px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 16px -2px rgba(20,20,20,1);
  -moz-box-shadow: 0px 3px 16px -2px rgba(20,20,20,1);
  box-shadow: 0px 3px 16px -2px rgba(20,20,20,1);
  background-image:url('/modules/helpdesk/images/svgs/greenAndYellow.svg');
    background-image:url('/modules/helpdesk/images/svgs/greenCircles.svg');
    background-image:url('/modules/helpdesk/images/svgs/greenAndBlue.svg');

}
.footer p {font-size: 11px;}
.footer a {color: #d2f4ec;}

/* /////// */

/**************/
/* Components */
/**************/


.frame-error-arrowup {
  text-align: center;
  position: relative;
  background: #990000;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #c2e1f5;
  padding: 7px;
  color: white;
  margin-bottom: 10px;
  z-index: 0;
}

.frame-error-arrowup:after, .frame-error-arrowup:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.frame-error-arrowup:after {
  border-color: rgba(153, 0, 0, 0);
  border-bottom-color: #990000;
  border-width: 10px;
  margin-left: -10px;
}
.frame-error-arrowup:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #c2e1f5;
  border-width: 11px;
  margin-left: -11px;
}

.frame-error-arrowdown {
  text-align: center;
  position: relative;
  background: #990000;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #c2e1f5;
  padding: 7px;
  color: white;
  margin-bottom: 10px;
  z-index: 0;
}

.frame-error-arrowdown:after, .frame-error-arrowdown:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.frame-error-arrowdown:after {
  border-color: rgba(153, 0, 0, 0);
  border-top-color: #990000;
  border-width: 10px;
  margin-left: -10px;
}
.frame-error-arrowdown:before {
  border-color: rgba(153, 0, 0, 0);
  border-top-color: #c2e1f5;
  border-width: 11px;
  margin-left: -11px;
}


.full-width{
  width: 100%;
}
.full-height{
  height: 100%;
}

.absolute{
  position: absolute;
}
.relative{
  position: relative;
}


/* /////// */
