  body, html {
  margin: 0;
  padding: 0;
  height: 100%;
     background-color: #F1F1F1;
}

#app{
  min-height:96%;position:relative;

}


/**********/
/* frames */
/**********/

.frame-list-cell{
}

.frame-form{
  padding: 30px;
}
.form-line-frame{
  padding-bottom: 25px;
}

.frame-select-rows{
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  padding: 3px;
}

.frame-error-arrowup {
  text-align: center;
  position: relative;
  background: #FA5858;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #c2e1f5;
  padding: 7px;
  color: white;
  margin-bottom: 20px;
  z-index: 0;
}

.frame-error-arrowup:after, .frame-error-arrowup:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.frame-error-arrowup:after {
  border-color: rgba(153, 0, 0, 0);
  border-bottom-color: #FA5858;
  border-width: 10px;
  margin-left: -10px;
}
.frame-error-arrowup:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #c2e1f5;
  border-width: 11px;
  margin-left: -11px;
}

.frame-error-arrowdown {
  text-align: center;
  position: relative;
  background: #FA5858;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #c2e1f5;
  padding: 7px;
  color: white;
  z-index: 0;
}

.frame-error-arrowdown:after, .frame-error-arrowdown:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.frame-error-arrowdown:after {
  border-color: rgba(153, 0, 0, 0);
  border-top-color: #FA5858;
  border-width: 10px;
  margin-left: -10px;
}
.frame-error-arrowdown:before {
  border-color: rgba(153, 0, 0, 0);
  border-top-color: #c2e1f5;
  border-width: 11px;
  margin-left: -11px;
}

.frame-div-warning{
  text-align: center;
  background: #FA5858;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #c2e1f5;
  padding: 7px;
  color: white;
}

.full-width{
  width: 100%;
}
.full-height{
  height: 100%;
}

.absolute{
  position: absolute;
}
.relative{
  position: relative;
}

.frame-empty-resource-message{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

/***************/
/* ng-pristine */
/***************/

input.ng-pristine, textarea.ng-pristine { border-radius: 1px 1px 1px 1px;
  border-radius: 1px 1px 1px 1px;
  -moz-border-radius: 1px 1px 1px 1px;
  -webkit-border-radius: 1px 1px 1px 1px;
  border: 1px solid NavajoWhite;}
input.ng-dirty.ng-valid, textarea.ng-dirty.ng-valid{
  border-radius: 1px 1px 1px 1px;
  -moz-border-radius: 1px 1px 1px 1px;
  -webkit-border-radius: 1px 1px 1px 1px;
  border: 1px solid #9AF0A6;}
input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid{ border:1px solid #FC6F71; }
input.ng-dirty.ng-valid ~ span.ok, textarea.ng-dirty.ng-valid ~ span.ok{ 
  border-radius: 1px 1px 1px 1px;
  -moz-border-radius: 1px 1px 1px 1px;
  -webkit-border-radius: 1px 1px 1px 1px;
  border: 1px solid #9AF0A6; display:inline; }
input.ng-dirty.ng-invalid ~ span.ko, textarea.ng-dirty.ng-invalid ~ span.ko{ color:#FC6F71; display:inline; } 

/****************************/
/* FORMS BARS COLORS AND SHADOWS */
/****************************/

.centered-and-white{
  color: white;
  text-align: center;
}

.frame-form-head{
  /*-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.66);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.66);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.66);*/
  padding-top: 5px;
  height: 35px;
}

.shadow-form-container{
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.66);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.66);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.66);
}

.shadow-left{ 
  -webkit-box-shadow: inset 9px 0px 4px -9px rgba(0,0,0,0.41);
  -moz-box-shadow:  inset 9px 0px 4px -9px rgba(0,0,0,0.41);
  box-shadow: inset 9px 0px 4px -9px rgba(0,0,0,0.41);
}

.shadow-right{
  -webkit-box-shadow: inset -9px 0px 4px -9px rgba(0,0,0,0.41), inset 9px 0px 4px -9px rgba(0,0,0,0.41);
  -moz-box-shadow: inset -9px 0px 4px -9px rgba(0,0,0,0.41), inset 9px 0px 4px -9px rgba(0,0,0,0.41);
  box-shadow: inset -9px 0px 4px -9px rgba(0,0,0,0.41), inset 9px 0px 4px -9px rgba(0,0,0,0.41);
}

.solid-blue-bar-fill{
  background-color: #517fa4;
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-gradient(linear,left top,left bottom,from(#517fa4),to(#306088));
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-linear-gradient(top,#517fa4,#306088);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-moz-linear-gradient(top,#517fa4,#306088);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-o-linear-gradient(top,#517fa4,#306088);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-ms-linear-gradient(top,#517fa4,#306088);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),linear-gradient(top,#517fa4,#306088);
}

.solid-blue-dark-bar-fill{
  background-color: #002632;
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-gradient(linear,left top,left bottom,from(#002632),to(#144C5E));
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-linear-gradient(top,#002632,#144C5E);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-moz-linear-gradient(top,#002632,#144C5E);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-o-linear-gradient(top,#002632,#144C5E);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-ms-linear-gradient(top,#002632,#144C5E);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),linear-gradient(top,#002632,#144C5E);
}

.solid-purple-bar-fill{
  background-color: #9572A9;
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-gradient(linear,left top,left bottom,from(#9572A9),to(#72458C));
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-linear-gradient(top,#9572A9,#72458C);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-moz-linear-gradient(top,#9572A9,#72458C);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-o-linear-gradient(top,#9572A9,#72458C);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-ms-linear-gradient(top,#9572A9,#72458C);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),linear-gradient(top,#9572A9,#72458C);
}

.solid-yellow-bar-fill{
  background-color: #F4BE6E;
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-gradient(linear,left top,left bottom,from(#F4BE6E),to(#DB9D40));
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-linear-gradient(top,#F4BE6E,#DB9D40);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-moz-linear-gradient(top,#F4BE6E,#DB9D40);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-o-linear-gradient(top,#F4BE6E,#DB9D40);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-ms-linear-gradient(top,#F4BE6E,#DB9D40);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),linear-gradient(top,#F4BE6E,#DB9D40);
}

.solid-claret-bar-fill{
  background-color: #C45858;
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-gradient(linear,left top,left bottom,from(#C45858),to(#B54646));
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-linear-gradient(top,#C45858,#B54646);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-moz-linear-gradient(top,#C45858,#B54646);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-o-linear-gradient(top,#C45858,#B54646);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-ms-linear-gradient(top,#C45858,#B54646);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),linear-gradient(top,#C45858,#B54646);
}

.solid-green-bar-fill{
  background-color: #52B37D;
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-gradient(linear,left top,left bottom,from(#52B37D),to(#2e8b57));
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-linear-gradient(top,#52B37D,#2e8b57);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-moz-linear-gradient(top,#52B37D,#2e8b57);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-o-linear-gradient(top,#52B37D,#2e8b57);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-ms-linear-gradient(top,#52B37D,#2e8b57);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),linear-gradient(top,#52B37D,#2e8b57);
}

.solid-gray-bar-fill{
  background-color: #D9D9D9;
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-gradient(linear,left top,left bottom,from(#D9D9D9),to(#B5B5B5));
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-linear-gradient(top,#D9D9D9,#B5B5B5);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-moz-linear-gradient(top,#D9D9D9,#B5B5B5);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-o-linear-gradient(top,#D9D9D9,#B5B5B5);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-ms-linear-gradient(top,#D9D9D9,#B5B5B5);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),linear-gradient(top,#D9D9D9,#B5B5B5);
}

.solid-bone-bar-fill{
  background-color: #EDEDED;
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-gradient(linear,left top,left bottom,from(#EDEDED),to(#F7F7F7));
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-linear-gradient(top,#EDEDED,#F7F7F7);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-moz-linear-gradient(top,#EDEDED,#F7F7F7);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-o-linear-gradient(top,#EDEDED,#F7F7F7);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-ms-linear-gradient(top,#EDEDED,#F7F7F7);
  background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),linear-gradient(top,#EDEDED,#F7F7F7);
}

EDEDED