<div class="panel shadow-form-container">

  <div class="panel-heading">
    <div class="panel-title solid-blue-bar-fill frame-form-head centered-and-white">
      {{ 'INVENTORY.NEW' | translate }}
    </div>
  </div>  

  <div class="panel-body" style="padding-top:40px">
      <form class="form" name="form" ng-submit="create(form)">
        <section id="item-common-data">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="serial" class="control-label">{{ 'INVENTORY.SERIAL' | translate }}</label>
                <input class="form-control" id="serial" placeholder="{{ 'INVENTORY.SERIAL' | translate }}" name="serial" ng-model="data.serial" required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="internalId" class="control-label">{{ 'INVENTORY.INTERNAL_ID' | translate }}</label>
                <input class="form-control" id="internalId" placeholder="{{ 'INVENTORY.INTERNAL_ID' | translate }}" name="internalId" ng-model="data.internalId" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
                <label for="acquisitionDate" class="control-label">{{ 'INVENTORY.ACQUISITION_DATE' | translate }}</label>
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="data.acquisitionDate" is-open="openedAD" datepicker-options="dateOptions" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event,'openedAD')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
            </div>
            <div class="col-md-6">
                <label for="guaranteeExpirationDate" class="control-label">{{ 'INVENTORY.GUARANTEE_EXPIRATION_DATE' | translate }}</label>
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="data.guaranteeExpirationDate" is-open="openedGED" ng-click="open($event,'openedGED')" datepicker-options="dateOptions" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event,'openedGED')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="manufacturer" class="control-label">{{ 'INVENTORY.MANUFACTURER' | translate }}</label>
                <input class="form-control" id="manufacturer" placeholder="{{ 'INVENTORY.MANUFACTURER' | translate }}" name="manufacturer" ng-model="data.manufacturer" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="model" class="control-label">{{ 'INVENTORY.MODEL' | translate }}</label>
                <input class="form-control" id="model" placeholder="{{ 'INVENTORY.MODEL' | translate }}" name="model" ng-model="data.model" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="location" class="control-label">{{ 'INVENTORY.LOCATION' | translate }}</label>
                <input class="form-control" id="location" placeholder="{{ 'INVENTORY.LOCATION' | translate }}" name="location" ng-model="data.location" />
              </div>
            </div>
            <div class="col-md-6">
                <label for="lastInventoryDate" class="control-label">{{ 'INVENTORY.LAST_INVENTORY_DATE' | translate }}</label>
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="data.lastInventoryDate" is-open="openedLID" datepicker-options="dateOptions" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event,'openedLID')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="description" class="control-label">{{ 'INVENTORY.DESCRIPTION' | translate }}</label>
                <textarea class="form-control" id="description" placeholder="{{ 'INVENTORY.DESCRIPTION' | translate }}" name="description" ng-model="data.description" ng-required="data.kind.selected.name == 'OTHER'"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="price" class="control-label">{{ 'INVENTORY.PRICE' | translate }}</label>
                <input class="form-control" id="price" placeholder="{{ 'INVENTORY.PRICE' | translate }}" name="price" ng-model="data.price" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="kind" class="control-label">{{ 'INVENTORY.KIND' | translate }}</label>
                <ui-select ng-model="data.kind" theme="selectize" required>
                  <ui-select-match>{{$select.selected}}</ui-select-match>
                  <ui-select-choices repeat="item in kinds">
                    <div ui-sref=".{{ item }}" ng-bind-html="item" class="role-select" popover="{{item}}" popover-trigger="mouseenter"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
      </section>
      <section id="item-custom-data" ui-view>
      </section>
      <section>
          <div class="row">
            <div class="col-md-12">
              <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancelOperation()">Cancel</button>
                 <input ng-disabled="form.$invalid" class="btn btn-success" value="Create" type="submit" ngClick="Submit">
              </div>
            </div>
          </div>
      </section>
      </form>
  </div> 

</div> 
