<section ng-init="find()">
  <div id="no-items-msg" class="frame-empty-resource-message" ng-show="items.length == 0">
    <h1>No items yet. <br> Why don't you <a ng-click="goToState('helpdesk.inventory.create')">Create One</a>?</h1>
  </div>    
  <div class="row" ng-show="items.length > 0">
    <div class="row-fluid"> 
        <div class="span12 list-items-container">
          <table tr-ng-grid="" items="items" selected-items="selectedIncidences" selection-mode="None" enable-sorting="true" id="items-list">
            <thead>
                <tr>
                    <th field-name="kind" cell-width="3em"></th>
                    <th field-name="internalId" cell-width="3em"></th>
                    <th field-name="location" cell-width="5em"></th>
                    <th field-name="guaranteeExpirationDate" display-name="Guarantee Expiration" cell-width="7em"></th>
                    <th field-name="lastInventoryDate" display-name="Last Inventory" cell-width="7em"></th>
                    <th field-name="description" cell-width="5em"></th>
                    <th field-name="actions" cell-width="5em" enable-sorting="false" enable-filtering="false"></th>
                </tr>
            </thead>
              <tbody>
                  <tr style="text-align: center;" ng-style="inventory-item">
                    <td field-name="kind">
                      <span class="frame-list-cell">
                        {{ gridItem.kind | translate }}</span>
                    </td>
                    <td field-name="internalId">
                      <span class="frame-list-cell">
                        {{ gridItem.internalId | translate }}</span>
                    </td>
                    <td field-name="location">
                      <span class="frame-list-cell">
                        {{ gridItem.location | translate }}</span>
                    </td>
                    <td field-name="guaranteeExpirationDate">
                      <span ng-if="(gridItem.guaranteeExpirationDate | date:'dd/MM/yyyy') == (today | date:'dd/MM/yyyy')">
                      {{gridItem.guaranteeExpirationDate | date:'shortTime'}}
                      </span>
                      <span ng-if="(gridItem.guaranteeExpirationDate | date:'dd/MM/yyyy') != (today | date:'dd/MM/yyyy')">
                      {{gridItem.guaranteeExpirationDate | date:'dd/MM/yyyy'}}
                      </span>
                    </td>
                    <td field-name="lastInventoryDate">
                      <span ng-if="(gridItem.lastInventoryDate | date:'dd/MM/yyyy') == (today | date:'dd/MM/yyyy')">
                      {{gridItem.lastInventoryDate | date:'shortTime'}}
                      </span>
                      <span ng-if="(gridItem.lastInventoryDate | date:'dd/MM/yyyy') != (today | date:'dd/MM/yyyy')">
                      {{gridItem.lastInventoryDate | date:'dd/MM/yyyy'}}
                      </span>
                    </td>
                    <td field-name="description">
                      <span class="frame-list-cell">
                        {{ gridItem.description | translate }}</span>
                    </td>
                    <td field-name="actions">
                      <div>
                          <button class="btn btn-success btn-xs" ng-click="disable(gridItem)">
                              {{ 'UNAVAILABLE' | translate }}
                          </button>
                          <button class="btn btn-success btn-xs" ng-click="edit(gridItem)">
                              {{ 'BUTTON.OPEN' | translate }}
                          </button>
                      </div>
                    </td>
                  </tr>
              </tbody>
              <tfoot>
                  <tr>
                      <td colspan="10"> 
                          <form class="form-inline tr-ng-grid-footer" grid="">
                              <div class="pull-left" tr-ng-grid-global-filter=""></div>
                              <div class="pull-right" tr-ng-grid-pager=""></div>
                          </form>
                      </td>
                  </tr>
              </tfoot>
            </table>
        </div>
    </div>
  </div>

</section>