<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="size" class="control-label">{{ 'INVENTORY.SIZE' | translate }}</label>
      <input class="form-control" id="size" placeholder="{{ 'INVENTORY.SIZE' | translate }}" name="size" ng-model="data.custom.size" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="connector" class="control-label">{{ 'INVENTORY.CONNECTOR' | translate }}</label>
      <input class="form-control" id="connector" placeholder="{{ 'INVENTORY.CONNECTOR' | translate }}" name="connector" ng-model="data.custom.connector" />
    </div>
  </div>
</div>

