<div ng-controller="TranslationCtrl" class="btn-group btn-group-info">

  <button type="button" class="btn dropdown-toggle" ng-disabled="disabled">
  <span class="caret"></span>&nbsp;&nbsp;
  <img style="width:20px; height:20px;" ng-src="{{currentLanguageObject.src}}"><img>
  </button>
  <ul class="dropdown-menu" style="padding:2px;">
    <li ng-repeat="languageObject in availableObjectLanguages">
    	<a href="" ng-click="changeLanguage(languageObject)" style="padding-top:10px; padding-bottom:7px; border-bottom: 1px solid #e5e5e5;">
    	<div class="row">
    		<div class="col-md-6">{{languageObject.lang.language}}</div>
    		<div class="col-md-6"><img style="width:24px; height:24px;" ng-src="{{languageObject.src}}"><img></div>
    	</div>
    	</a>
    </li>
  </ul>
</div>
