.serious{
	color: white;
	background-color: #FA6854;
}

.high{
	color:  #FA6854;
	background-color: white;
}

.status {
	font-weight: bold;
}

.open{
	color: #3D9970;
}

.ongoing{
	color: #FF851B;
}

.closed{
	color: red;
}

.incidence-view-open{
	background-color: #3D9970;
}

.incidence-view-ongoing{
	background-color: #FF851B;
}

.incidence-view-closed{
	background-color: red;
}

.frame-incidences{
	margin-top: 16px;
}

/***** FORM *****/

.frame-select-row{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	padding: 5px;
}

/****** LIST *******/

.border-incidences{
	border-radius: 4px 4px 4px 0px;
	-moz-border-radius: 4px 4px 4px 0px;
	-webkit-border-radius: 4px 4px 4px 0px;
	border: 1px solid #62b5f5;
}

.list-incidences{
	padding:0px;
	padding-right: 0px;
	background-color: white;
	border: solid #517fa4 1px;
}

/****** INCIDENCE *******/

#frame-incidence-title {
	padding-top: 25px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
}

.jumbotron{
	margin-top: 20px
}

#incidence-nav-container {
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.66);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.66);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.66);
	background-color: white;
}

.frame-reply {
	padding: 10px;
}

#incidence-reply {
	width: 100%;
	background-color: #f4e8b5;
	padding: 10px;
}
.icon-navbar-container{
	padding: 5px;
	margin-left: 10px;
}

.frame-status-incidence{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	padding: 3px;
	text-align: center;
}

/***** OVERVIEW ******/

.container-overview{
	margin-top: 20px;
	padding: 10px;
}

.overview