.incidence-details{
	width: auto;
	height: auto;
	padding-left: 30px;
}

.box-incidence-datails{
	height: auto;
	width: auto;
	margin: 10px;
	margin-top: 5px;
	text-align: center;
	padding: 15px;
	padding-top: 10px;
}

.glyphicon-rate { margin-right:5px; font-size: 15px;}

.time-input{
	width: 190px;
}

.assign-dropdown-row{
	margin: 5px;
}