.chart-frame{
    border: 1px solid #bed5cd;
}

.reports-title{
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
    background-color: white;
}

.chart-title{
	padding: 10px;
    background-color: white;
}

.list-incidences-reports{
	padding:0px;
	background-color: white;
	border: solid #bed5cd 1px;
}
