/*/////// YELLOW ////////*/

.arrow-box-neon {
    position: relative;
    background: #3DA7FF;
    border: 1px solid #3DA7FF;
}
.arrow-box-neon:after, .arrow-box-neon:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow-box-neon:after {
    border-color: rgba(245, 254, 255, 0);
    border-left-color: #3DA7FF;
    border-width: 7px;
    margin-top: -7px;
}
.arrow-box-neon:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #3DA7FF;
    border-width: 13px;
    margin-top: -13px;
}


/*/////// YELLOW ////////*/

.arrow-box-yellow {
    position: relative;
    background: #F4BE6E;
    border: 1px solid #F4BE6E;
}
.arrow-box-yellow:after, .arrow-box-yellow:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow-box-yellow:after {
    border-color: rgba(245, 254, 255, 0);
    border-left-color: #F4BE6E;
    border-width: 7px;
    margin-top: -7px;
}
.arrow-box-yellow:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #F4BE6E;
    border-width: 13px;
    margin-top: -13px;
}

/*/////// CLARET ////////*/

.arrow-box-claret {
    position: relative;
    background: #B54646;
    border: 1px solid #B54646;
}
.arrow-box-claret:after, .arrow-box-claret:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow-box-claret:after {
    border-color: rgba(245, 254, 255, 0);
    border-left-color: #B54646;
    border-width: 7px;
    margin-top: -7px;
}
.arrow-box-claret:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #B54646;
    border-width: 13px;
    margin-top: -13px;
}
/*/////// PURPLE ////////*/

.arrow-box-purple {
    position: relative;
    background: #9572A9;
    border: 1px solid #9572A9;
}
.arrow-box-purple:after, .arrow-box-purple:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow-box-purple:after {
    border-color: rgba(245, 254, 255, 0);
    border-left-color: #9572A9;
    border-width: 7px;
    margin-top: -7px;
}
.arrow-box-purple:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #9572A9;
    border-width: 13px;
    margin-top: -13px;
}

/*/////// GREEN ////////*/

.arrow-box-green {
    position: relative;
    background: #52B37D;
    border: 1px solid #52B37D;
}
.arrow-box-green:after, .arrow-box-green:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow-box-green:after {
    border-color: rgba(245, 254, 255, 0);
    border-left-color: #52B37D;
    border-width: 7px;
    margin-top: -7px;
}
.arrow-box-green:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #52B37D;
    border-width: 13px;
    margin-top: -13px;
}