/**********/
/* FOOTER */
/**********/

.footer {
  left:0px;
  bottom:0px;
  width:100%;
  color: #517fa4;
  height: 35px;
  padding-top: 9px;
  text-align: center;
  padding-left: 7%;
  position: relative;
}
.footer p {font-size: 11px;}
.footer a {color: #513a94;}

/* /////// */
