/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.active-right-border {
    border-right:4px solid #BCE8FF;
}

.module-icon-16{
  height: 16px; width: 16px; margin-right:10px;
}

.module-icon-24{
  height: 24px; width: 24px; margin-right:10px;
}

.search-id{
  padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 45px;
    border: solid #E9E9E9;
    border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px 1px 1px 1px;
    -webkit-border-radius: 1px 1px 1px 1px;
    border: 1px solid #f0f0f0;
}
.search-id-input{
  width: 80%;
  font-size: 14px;
  padding: 5px;
  margin: 0px;
}

.search-id-arrow{
  padding: 5px; 
  padding-left: 5px; 
  width: 10%;
  margin-left: 0px;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent; 
  border-left: 60px;
}

.panel-group .panel {
  margin: 5px;
}

.frame-module{
  margin-bottom: 15px;
}

.enlarged-active-module{
  padding-top:1px;
  padding-left:1px;
  padding-right:1px;
  padding-bottom: 1px;
}

.arrow-box-module {
    position: relative;
    background: #c2e1f5;
    border: 1px solid #c2e1f5;
}
.arrow-box-module:after, .arrow-box-module:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow-box-module:after {
    border-color: rgba(245, 254, 255, 0);
    /*border-left-color: #f5feff;*/
    border-width: 10px;
    margin-top: -10px;
}
.arrow-box-module:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    border-width: 22px;
    margin-top: -22px;
}

/*************************/