/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #002632;
}

.active-right-border {
    border-right:4px solid #BCE8FF;
}

.module-icon-16{
  height: 16px; width: 16px; margin-right:10px;
}

.module-icon-24{
  height: 24px; width: 24px; margin-right:10px;
}

.search-id{
  padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 45px;
    border: solid #E9E9E9;
    border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px 1px 1px 1px;
    -webkit-border-radius: 1px 1px 1px 1px;
    border: 1px solid #f0f0f0;
}
.search-id-input{
  width: 80%;
  font-size: 14px;
  padding: 5px;
  margin: 0px;
}

.search-id-arrow{
  padding: 5px; 
  padding-left: 5px; 
  width: 10%;
  margin-left: 0px;
}

.frame-module{
  margin-bottom: 10px;
}

.enlarged-active-module{
  padding: 1px;
  padding: 3px;
  margin: 5px;
  margin-bottom: 10px;
  margin-right: 2px;


}

/*************************/