.shading-notification {
  background-color: #EFF5FF;
}

.frame-logo{
  	background-color: red;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.frame-user-settings{
  margin: 7px;
  margin-right: 12px;
}

.link-notification{
	background-color: #EDEDED;
	padding: 8px;
  	border-bottom: 1px solid #e5e5e5;
  	color: black;
}

.link-dropdown{
	 padding: 8px;
  	border-bottom: 1px solid #e5e5e5;
	background-color: #EDEDED;
}

.shadow-left{	
	-webkit-box-shadow: inset 9px 0px 4px -9px rgba(0,0,0,0.41);
	-moz-box-shadow:  inset 9px 0px 4px -9px rgba(0,0,0,0.41);
	box-shadow: inset 9px 0px 4px -9px rgba(0,0,0,0.41);
}
.shadow-right{
	-webkit-box-shadow: inset -9px 0px 4px -9px rgba(0,0,0,0.41), inset 9px 0px 4px -9px rgba(0,0,0,0.41);
	-moz-box-shadow: inset -9px 0px 4px -9px rgba(0,0,0,0.41), inset 9px 0px 4px -9px rgba(0,0,0,0.41);
	box-shadow: inset -9px 0px 4px -9px rgba(0,0,0,0.41), inset 9px 0px 4px -9px rgba(0,0,0,0.41);
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #B54646;
	-webkit-box-shadow: inset 10px 0px 4px -9px rgba(0,0,0,0.41);
	-moz-box-shadow:  inset 10px 0px 4px -9px rgba(0,0,0,0.41);
	box-shadow: inset 10px 0px 4px -9px rgba(0,0,0,0.41);
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
	background-color: #B54646;
}

.hover-effect:hover {
	background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-gradient(linear,left top,left bottom,from(#4f7999),to(#306088));
	background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-webkit-linear-gradient(top,#4f7999,#306088);
	background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-moz-linear-gradient(top,#4f7999,#306088);
	background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-o-linear-gradient(top,#4f7999,#306088);
	background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),-ms-linear-gradient(top,#4f7999,#306088);
	background-image: url(//d36xtkk24g8jdx.cloudfront.net/bluebar/0ecccda/images/shared/noise-1.png),linear-gradient(top,#4f7999,#306088);
}
