 <div ng-controller="ActionsMenuCtrl" class="col-sm-3 col-md-2 sidebar">
  <accordion close-others="oneAtATime">
    <accordion-group>
    	<accordion-heading heading="Notifications" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
    		Notifications <img src="modules/helpdesk/images/icons/warning-3-24.png"/>
    	 </accordion-heading>
       You have a new <img src="modules/helpdesk/images/icons/message-24.png"/>
    </accordion-group>
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      <div ng-repeat="action in group.action">
      	<a ng-click="loadMainContent(action.link)">{{action.title}}</a>
      </div>
    </accordion-group>
  </accordion>
</div>