
.mini-submenu .module-icon {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
  padding-right: 15px;
}

.module-icon{
  height: 24px; width: 24px; margin-right:10px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #fff;
background-color: #428bca;
}

.margintop20 {
    margin-top:20px;
}

.nav-pills>li>a {
border-radius: 0px;
}

a {
color: #000;
text-decoration: none;
}

a:hover {
color: #000;
text-decoration: none;
}


.nav-stacked>li+li {
margin-top: 0px;
margin-left: 0;
}

.active2 {
    border-right:4px solid #BCE8FF;
}