<!-- remote file: error-messages.html -->
<div class="arrow_box" ng-message="required">You left the field blank...</div>
<div class="arrow_box" ng-message="minlength">Your field is too short</div>
<div class="arrow_box" ng-message="maxlength">Your field is too long</div>
<div class="arrow_box" ng-message="email">Your field has an invalid email address</div>
<div class="arrow_box" ng-message="mongoose">{{errors.email}}</div>
<div class="arrow_box" ng-message="mongoose">{{errors.password}}</div>
<div class="arrow_box" ng-message="unique">Sorry, this user name is already taken...</div>
