<div class="navbar-custom navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
    <div class="navbar-header"><a class="navbar-brand logo" name="top"><img src="/images/helpdesk-icon-40.png"/></a>
    </div>
    <div class="nav navbar-nav">
        <ul class="nav navbar-nav">
            <li ng-repeat="item in modules" ng-show="currentUser" ui-route="/{{item.toLowerCase()}}/:{{currentUser.username}}" ng-class="{active: $uiRoute}">
                <a href="/{{item.toLowerCase()}}/:{{currentUser.username}}">{{item}}</a>
            </li>
        </ul>
    </div>
      <div class="nav navbar-nav pull-right">
        <ul class="nav navbar-nav user-settings-icon" ng-show="currentUser">
            <div ng-controller="userSettingsCtrl">
                <button popover-placement="bottom" popover-template="{{ templateUrl }}" popover-title="{{currentUser.username}}" class="btn btn-circle shadow-border-sm"><img src="/images/guest-24-black.png"/></button>
            </div>
        </ul>
    </div>
    <!--/.navbar-collapse -->
</div>
<!--/.navbar -->