<section ng-controller="NavbarCtrl">
<nav class="navbar navbar-default navbar-fixed-top solid-blue-bar-fill" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="color: #ebebeb; min-width: 250px;" class="navbar-brand"><img src="/modules/common/images/warg-gray-32-30.svg">
        &nbsp;<span ng-show="currentUser.school != null"> {{currentUser.school.name}}</span>
                    <span ng-show="currentUser.school == null">WARG HELPDESK</span>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" ng-show="currentUser" style="margin-right:10px;">
      
        <li class="dropdown shadow-left hover-effect">
          <a ng-click="markNewNotsAsDisplayed()" class="dropdown-toggle" data-toggle="dropdown">
            <span ng-class="{'sounding-bell' : newNotifications.length > 0}">
              <i class="fa fa-bell" ng-class="{'fa-bell-red' : newNotifications.length > 0, 'fa-bell-white' : newNotifications.length == 0 }"></i>
            </span>
          </a>
          <ul class="dropdown-menu notifications-dropdown"  ng-if="userNotifications.length > 0">
            <li ng-repeat="notification in userNotifications" class="link-dropdown">
              <a ng-class="{'shading-notification': notification.status != 'Seen'}" ng-click="updateNotificationStatus(notification, 'Seen')">
                <span>{{notification.text}}</span>&nbsp;&nbsp;
                <span><img src="/modules/helpdesk/images/icons/planner-16.png"></span>&nbsp;&nbsp;
                <span>{{notification.created | date:'dd/MM/yyyy'}}</span>&nbsp;&nbsp;
                <span ng-if="notification.status != 'Seen'"><img src="/modules/helpdesk/images/icons/circle-dashed-8.png" popover-placement="left" popover="Mark as seen" popover-trigger="mouseenter" ng-click="updateNotificationStatus(notification, 'Seen')"></span>
                <span ng-if="notification.status == 'Seen'"><img src="/modules/helpdesk/images/icons/circle-8.png" popover-placement="left" popover="Seen" popover-trigger="mouseenter"></span>
              </a>
            </li>
          </ul>
          <ul class="dropdown-menu" ng-if="userNotifications.length == 0">
            <li class="link-notification"> You don´t have notifications. </li>
          </ul>
        </li>

        <li class="dropdown shadow-right hover-effect">
          <a class="dropdown-toggle" data-toggle="dropdown" style="color: #ebebeb;">{{currentUser.username}}&nbsp;&nbsp;&nbsp;<img src="/modules/helpdesk/images/icons/guest-24-black.png"></a>
          <ul class="dropdown-menu">
            <li class="link-dropdown link-user"><a ng-click="logout()"><img src="/modules/helpdesk/images/icons/logout-24.png" alt="logout">&nbsp;&nbsp;{{ 'SIGN.OUT' | translate }}</a></li>
            <!--<li class="link-dropdown"><a>{{currentUser.username}}</a></li>-->
          </ul>
        </li>
      </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="currentUser" style="margin-top:8px; margin-right:12px;">
          <language-selector></language-selector>
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</section>