<section ng-init="find()">
	<div class="row-fluid">	
	  	<div class="list-accounts-container col-md-7">
		    <table tr-ng-grid="" items="accounts" selected-items="selectedAccounts" enable-sorting="false">
			    <thead>
			        <tr>
			            <th field-name="username" cell-width="4em">Username</th>
			            <th field-name="school" cell-width="1em">School</th>
			            <th field-name="email" cell-width="4em">Email</th>
			            <th field-name="role" cell-width="3em">Role</th>
			            <th field-name="membership" cell-width="10em">Memebership</th>
			        </tr>
			    </thead>
	            <tbody>
	                <tr style="text-align: center;">
	                	<td field-name="school">                		
                			<span class="frame-list-cell">
                				{{gridItem.school.code}}
                			</span>
						</td>
						<td field-name="membership">
                    		<span class="frame-list-cell">
                    		{{gridItem.membership | date:'longDate'}}
                    		</span>
						</td>
	                    <td>
	                        <div>  
	                            <button class="btn btn-xs btn-success" ng-click="openAccount(gridItem._id)">{{ 'BUTTON.OPEN' | translate }}
	                            </button>
	                        </div>
	                    </td>
	                </tr>
	            </tbody>
	            <tfoot>
	                <tr>
	                    <td colspan="10">	
	                        <form class="form-inline tr-ng-grid-footer" grid="">
	                            <div class="pull-left" tr-ng-grid-global-filter=""></div>
	                            <div class="pull-right" tr-ng-grid-pager=""></div>
	                        </form>
	                    </td>
	                </tr>
	            </tfoot>
	        </table>
	  	</div>
		<div id="account" ui-view="account" class="col-md-5"></div>		  	  	
	</div>
</section>