<section ng-init="findOne()">
  <div  style="position: fixed; margin-right:20px;">
    <div class="shadow-form-container">
      <div class="panel-body" style="padding-top:2px;">
        <div class="row">
          <span class="col-md-1 col-md-offset-11" ng-click="cancelOperation()" popover-placement="left" popover="Close" popover-trigger="mouseenter"><img src="/modules/helpdesk/modules/accounts/images/icons/close-window-16.png"></span>
        </div>
        <form class="form frame-form" name="form" ng-submit="saveChanges(form)">
          <div class="input-group form-line-frame">
            <span class="input-group-addon"><img src="/modules/helpdesk/modules/accounts/images/icons/at-16.png"></span>
            <input
            ng-disabled="true" 
            type="email"
            name="email"
            class="form-control"
            ng-model="account.email"
            placeholder="{{account.email}}"
            />
          </div> 

          <div class="input-group form-line-frame">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <div style="margin-bottom: 5px">
              <input
              type="password"
              name="oldPass"
              class="form-control"
              ng-model="oldPass"
              mongoose-error
              autofocus
              placeholder="Current Password"
              required />
            </div>
          </div> 

          <div ng-if="changed(form.oldPass)" ng-messages="form.oldPass.$error">
            <div class="frame-error-arrowup" ng-message="mongoose">{{errors.oldPass}}</div>
          </div>

          <div class="input-group form-line-frame">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <div style="margin-bottom: 5px">
              <input
              type="password"
              name="newPass"
              class="form-control"
              ng-model="newPass"
              mongoose-error
              autofocus
              placeholder="New Password"
              required />
            </div>
          </div> 

          <div class="input-group form-line-frame">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <div style="margin-bottom: 5px">
              <input
              type="password"
              name="newPassConfirm"
              class="form-control"
              ng-model="newPassConfirm"
              mongoose-error
              autofocus
              placeholder="Confirm New Password"
              required />
            </div>
          </div> 

          <div ng-if="changed(form.newPassConfirm)" ng-messages="form.newPassConfirm.$error">
            <div class="frame-error-arrowup" ng-message="mongoose">{{errors.newPassConfirm}}</div>
          </div>

          <div class="modal-footer">
            <input class="btn btn-success" value="Save Changes" type="submit" ngClick="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>  
</section>  