<!--<div class="modal-header">
    <div class="row">
      <div class="col-md-1"><img src="/modules/common/images/icons/warning-24.png"></div>
      <div class="col-md-11"><h4>There are no schools in the system</h4></div>
    </div>
</div>
<div class="modal-body">
      <p>In order to create user accounts you must first create at least one school.
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Create School</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>-->
<div class="modal-header">
    <div class="row">
      <div class="col-md-1"><img src="/modules/common/images/icons/warning-24.png"></div>
      <div class="col-md-11"><h4>There are no schools in the system</h4></div>
    </div>
</div>
<div class="modal-body">
    <div class="alert-message alert-message-danger">
        <p>In order to create user accounts you must first create at least one school.</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Create School</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>