
/* Custom page header */
.header-incidence {
  border-bottom: 1px solid #e5e5e5;
  margin-top: 50px;
}

/****** LIST *******/

.border-incidences{
	border-radius: 4px 4px 4px 0px;
	-moz-border-radius: 4px 4px 4px 0px;
	-webkit-border-radius: 4px 4px 4px 0px;
	border: 1px solid #62b5f5;
}

.severity-high{
	background-color: red;
}

.list-container{
	position:relative;top:0;left:0;right:0;bottom:0
}

/****** INCIDENCE *******/

.jumbotron{
	margin-top: 20px
}

.container-incidence{
	padding: 10px;	
}

#incidence-nav-container {
	position: fixed;left: 0;right: 0; top:0; width: auto;
}

.icon-navbar-container{
	padding: 5px;
	margin-left: 10px;
}

/***** OVERVIEW ******/

.container-overview{
	margin-top: 20px;
	padding: 10px;
}

