.serious{
	color: white;
	background-color: #FA6854;
}

.high{
	color:  #FA6854;
	background-color: white;
}

.open{
	color: #DDDDDD;
	background-color: #3D9970;

}

.ongoing{
	color: #DDDDDD;
	background-color: #FF851B;
}

.closed{
	color: #DDDDDD;
	background-color: #FA6854;
}

.frame-incidences{
	margin-top: 16px;
}

/***** FORM *****/

.severity-priority-select{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	padding: 5px;
}

/****** LIST *******/

.border-incidences{
	border-radius: 4px 4px 4px 0px;
	-moz-border-radius: 4px 4px 4px 0px;
	-webkit-border-radius: 4px 4px 4px 0px;
	border: 1px solid #62b5f5;
}

.list-container{
	position:relative;top:0;left:0;right:0;bottom:0
}

.frame-list-cell{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	padding: 5px;
}

/****** INCIDENCE *******/

#frame-incidence-title {
	padding-top: 25px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
}

.jumbotron{
	margin-top: 20px
}

#incidence-nav-container {
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.66);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.66);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.66);
}

.frame-reply {
	padding: 10px;
}

#incidence-reply {
	width: 100%;
	background-color: #f4e8b5;
	padding: 10px;
}
.icon-navbar-container{
	padding: 5px;
	margin-left: 10px;
}

/***** OVERVIEW ******/

.container-overview{
	margin-top: 20px;
	padding: 10px;
}

/**** ASSIGN ****/

.assign-select-dropdown{
	width: auto;
	min-width: 110px;
	max-width: 150px;
}

/**** REPORTING ****/
		[ac-chart] {
			float:left;
			width: 48%;
			height: 400px;
			margin: 0 1%;
		}