.incidence-details{
	width: auto;
	height: auto;
}

.box-incidence-datails{
	border: 0px solid #000000;
	height: auto;
	width: auto;
	margin: 10px;
	margin-right: 50px;
	text-align: center;
	padding: 10px;

}

.stars{
	margin-left: 10px;
	margin-right: 15px;
}

.glyphicon-rate { margin-right:5px; font-size: 15px;}

.time-input{
	width: 190px;
}

.assign-dropdown-row{
	margin: 5px;
}