<div id="frame-users">
	<div id="users-admin-nav-container">        
			<div class="row">
		    	<span class="icon-navbar-container btn btn-default" popover-placement="bottom" popover="List of schools" popover-trigger="mouseenter">
		      		<a ui-sref="helpdesk.admin.schools"><img src="/modules/administration/images/icons/list-24.png" alt="Create User"/></a>
		    	</span> 		
		      	<span class="icon-navbar-container btn btn-default" popover-placement="bottom" popover="Create school" popover-trigger="mouseenter">
		      		<a ui-sref="helpdesk.admin.schools.create.school"><img src="/modules/administration/images/icons/plus-24.png" alt="Create School"/></a>
		    	</span>                       
			</div>
	</div>
	<div ui-view class="frame-users-content"></div>
</div>