<form class="form" name="form" ng-submit="closeIncidence(form)">
  <div class="modal-header solid-yellow-bar-fill centered-and-white">
    <h4 class="modal-title">Close Incidence - {{close.incidence.id}}</h4>
  </div>
    <div class="modal-body">
      <div class="row" id="solved-as">
        <div class="col-md-6">
          <h5 class="text-muted section-title" >Close incidence as:</h5>
          <ui-select ng-model="close.reason.selected" ng-change="close.currentReason = close.reason.selected "theme="selectize" style="width: 200px;" ng-required="true">
            <ui-select-match placeholder="{{reason.type}}">
              <span>{{$select.selected.type}}</ui-select-match></span>
            <ui-select-choices repeat="reason in close.reasons">
              <div class="frame-select-rows" ng-bind-html="reason.type" ng-click="setReason(reason)"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-md-6" ng-show="close.currentReason.type == 'Duplicated'" > 
          <h5 class="text-muted section-title">Duplicated incidence ID</h5>
          <div class="input-group form-line-frame">
            <span class="input-group-addon"><img src="/modules/helpdesk/modules/incidences/images/icons/code-16.png"></span>
            <input
              type="text"
              name="duplicated"
              class="form-control"
              ng-model="close.duplicated"
              autofocus
              placeholder="Duplicated of"
              unique-incidence-id
              ng-required="close.currentReason.type == 'Duplicated'" />
          </div>   
          <div ng-if="changed(form.duplicated)" ng-messages="form.duplicated.$error">
            <div class="frame-error-arrowup" ng-message="required">Please, provide the duplicated incidence Id.</div>
            <div class="frame-error-arrowup" ng-message="nonexistent">Incidence ID nonexistent</div>
          </div>
        </div>
        <div class="col-md-12" ng-show="close.currentReason.type == 'Invalid'" >
          <h5 class="text-muted section-title" >Explain why it is invalid:</h5>
          <div class="form-group">
            <div class="input-group">
                <textarea style="resize:vertical; min-height: 100px;"
                    type="text"
                    name="invalidComment"
                    class="form-control"
                    placeholder="Post comment"
                    ng-trim
                    ng-model="close.invalidComment"
                    ng-required="close.currentReason.type == 'Invalid'"
                    ng-minlength="{{getMinlengthValidation()}}"/>
                </textarea>
                <div class="input-group-addon bg-success">{{ commentLength(form) }}</div>
            </div>
          </div>
          <div ng-if="changed(form.invalidComment)"ng-messages="form.invalidComment.$error">
            <div class="frame-error-arrowup" ng-message="required">Please, provide the reason why the incidence is invalid</div>
            <div class="frame-error-arrowup" ng-message="minlength">Please provide a reason with at least 25 characters</div>
          </div>
        </div>
      </div>  
      <div class="row" id="effort">
        <div class="col-md-7"> 
          <h5 class="text-muted section-title" >Your last effort:</h5>
          <div class="row col-md-8" ng-show="validCurrentEffort()">
            <div class="col-md-offset-1">
              <div class="row">
                <img class="col-md-offset-4"src="/modules/helpdesk/modules/incidences/images/icons/stopwatch-green-64.png">
              </div>  
              <div class="row" style="margin-top:7px;">
                <font size="1" class="text-muted col-md-offset-3">{{close.currentEffortHours}} hours {{close.currentEffortMinutes}} minutes</font>
              </div>  
            </div>  
          </div>
          <div class="row col-md-8" ng-show="!validCurrentEffort()">
            <div class="col-md-offset-1">
              <div class="row">
                <img class="col-md-offset-4"src="/modules/helpdesk/modules/incidences/images/icons/stopwatch-red-64.png">
              </div>  
              <div class="row">
                <font size="1" class="text-muted col-md-offset-3 incorrect-time-text">Incorrect time format</font>
              </div>  
            </div>  
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="input-group form-line-frame" style="margin-top: 10px;">
                <div class="row">
                  <div class="col-md-6">
                    <div class="controls input-group time-input time-input-frame">
                      <input ng-change="effortChanged()" type="number" name="effortHours" ng-model="close.currentEffortHours" class="form-control" min="0" required><span class="input-group-addon">h</span>
                    </div>
                    <div ng-if="changed(form.effortHours)"ng-messages="form.effortHours.$error" class="frame-effort-error">
                      <div class="frame-error-arrowup" ng-message="required">Incorrect format</div>
                      <div class="frame-error-arrowup" ng-message="max">Max number of hours is 1000</div>
                    </div>
                  </div> 
                  <div class="col-md-6">
                    <div class="controls input-group time-input time-input-frame">
                      <input ng-change="effortChanged()" type="number" name="effortMinutes" ng-model="close.currentEffortMinutes" class="form-control" min="0" max="59" required><div class="input-group-addon">m</div>
                    </div>
                    <div ng-if="changed(form.effortMinutes)"ng-messages="form.effortMinutes.$error" class="frame-effort-error">
                      <div class="frame-error-arrowup" ng-message="required">Incorrect format</div>
                      <div class="frame-error-arrowup" ng-message="max">Max number of minutes is 59</div>
                    </div>
                  </div>  
                </div>
              </div> 
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="text-muted section-title" >Total effort reported:</h5>
          <div class="row">
            <div class="col-md-offset-3">
              <div ng-show="close.totalEffort == 0">
                <div class="row"> <img src="/modules/helpdesk/modules/incidences/images/icons/time-red-128.png"></div>
                <div class="row total-effort-text-line"><font size="3" class="text-muted">No time reported</font></div>
              </div>
              <div ng-show="close.totalEffort > 0">
                <div class="row"> <img src="/modules/helpdesk/modules/incidences/images/icons/time-blue-128.png"></div>
                <div class="row total-effort-text-line"> <font size="3" class="text-muted">{{close.totalEffortHours}} hours {{close.totalEffortMinutes}} minutes</font>
                </div>
              </div>
            </div>  
          </div>  
        </div>  
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="ok()">Close Incidence</button>-->
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <input ng-disabled="form.$invalid || close.totalEffort == 0" class="btn btn-success" value="Close Incidence" type="submit" ngClick="Submit">  
  </div>
</form>    

