<div ng-controller="EffortCtrl" class="box-incidence-datails ">
	<div ng-show="edit.effort">
		<div>
			<div class="row" style="margin-bottom:2px;"> 
	        	<div class="pull-left text-muted">Report your time:</div>    
         	</div>
         	<div class="row"> 
	         	<div class="controls input-group time-input">
	                 <input ng-change="effortChanged()" type="number" ng-model="effort.hours" class="form-control"><div class="input-group-addon">h</div>
	                 <input ng-change="effortChanged()" type="number" ng-model="effort.minutes" class="form-control"><div class="input-group-addon">m</div>
	            </div>		    
         	</div>
			<div class="row pull-left" style="margin-top:5px;">
				<div ng-show="effort.allowToPool">  					
					<div ng-click="poolEffort()">
						<div class="btn btn-info">Submit Time</div>
					</div>
	        	</div>
			</div>    
        </div>    
	</div>    
	<div ng-show="!edit.effort">
		<div ng-show="incidence.effort == 0">
			<div> <img src="/modules/helpdesk/modules/incidences/images/icons/stopwatch-gray-88.png" alt="Time"></div>
			<font size="1" class="text-muted">No time reported</font>
		</div>
		<div ng-show="incidence.effort > 0">
            <div> <img src="/modules/helpdesk/modules/incidences/images/icons/stopwatch-blue-88.png" alt="Rating"></div>
                <font size="1" class="text-muted">{{incidence.effortHours}} hours {{incidence.effortMinutes}} minutes</font>
        </div> 
	</div> 
</div>