<form class="form" name="form" ng-submit="poolEffort(form)">
  <div class="modal-header solid-yellow-bar-fill centered-and-white">
    <h4 class="modal-title">Report Effort - {{effort.incidence.id}}</h4>
  </div>
  <div class="modal-body">
    <div class="row" id="effort">
        <div class="col-md-7"> 
          <h5 class="text-muted section-title" >Your last effort:</h5>
          <div class="row col-md-8" ng-show="validCurrentEffort()">
            <div class="col-md-offset-1">
              <div class="row">
                <img class="col-md-offset-4"src="/modules/helpdesk/modules/incidences/images/icons/stopwatch-green-64.png">
              </div>  
              <div class="row" style="margin-top:7px;">
                <font size="1" class="text-muted col-md-offset-3">{{effort.currentEffortHours}} hours {{effort.currentEffortMinutes}} minutes</font>
              </div>  
            </div>  
          </div>
          <div class="row col-md-8" ng-show="!validCurrentEffort()">
            <div class="col-md-offset-1">
              <div class="row">
                <img class="col-md-offset-4"src="/modules/helpdesk/modules/incidences/images/icons/stopwatch-red-64.png">
              </div>  
              <div class="row">
                <font size="1" class="text-muted col-md-offset-3 incorrect-time-text">Incorrect time format</font>
              </div>  
            </div>  
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="input-group form-line-frame" style="margin-top: 10px;">
                <div class="row">
                  <div class="col-md-6">
                    <div class="controls input-group time-input time-input-frame">
                      <input ng-change="effortChanged()" type="number" name="effortHours" ng-model="effort.currentEffortHours" class="form-control" min="0" required><span class="input-group-addon">h</span>
                    </div>
                    <div ng-if="changed(form.effortHours)"ng-messages="form.effortHours.$error" class="frame-effort-error">
                      <div class="frame-error-arrowup" ng-message="required">Incorrect format</div>
                      <div class="frame-error-arrowup" ng-message="max">Max number of hours is 1000</div>
                    </div>
                  </div> 
                  <div class="col-md-6">
                    <div class="controls input-group time-input time-input-frame">
                      <input ng-change="effortChanged()" type="number" name="effortMinutes" ng-model="effort.currentEffortMinutes" class="form-control" min="0" max="59" required><div class="input-group-addon">m</div>
                    </div>
                    <div ng-if="changed(form.effortMinutes)"ng-messages="form.effortMinutes.$error" class="frame-effort-error">
                      <div class="frame-error-arrowup" ng-message="required">Incorrect format</div>
                      <div class="frame-error-arrowup" ng-message="max">Max number of minutes is 59</div>
                    </div>
                  </div>  
                </div>
              </div> 
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="text-muted section-title" >Total effort reported:</h5>
          <div class="row">
            <div class="col-md-offset-3">
              <div ng-show="effort.totalEffort == 0">
                <div class="row"> <img src="/modules/helpdesk/modules/incidences/images/icons/time-red-128.png"></div>
                <div class="row total-effort-text-line"><font size="3" class="text-muted">No time reported</font></div>
              </div>
              <div ng-show="effort.totalEffort > 0">
                <div class="row"> <img src="/modules/helpdesk/modules/incidences/images/icons/time-blue-128.png"></div>
                <div class="row total-effort-text-line"> <font size="3" class="text-muted">{{effort.totalEffortHours}} hours {{effort.totalEffortMinutes}} minutes</font>
                </div>
              </div>
            </div>  
          </div>  
        </div>  
    </div>
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="ok()">Close Incidence</button>-->
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <input ng-disabled="form.$invalid || effort.totalEffort == 0" class="btn btn-success" value="Report Effort" type="submit" ngClick="Submit">  
  </div>
</form>    

