<div ng-init="findOne()">
    <div class="container-fluid" ng-controller="IncidenceNavCtrl" id="incidence-nav-container">
        <div class="row">
            <div class="col-md-2" style="padding: 10px; padding-left: 25px;">
                <div >Incidence: <strong> {{incidence.id}} </strong></div>
                <div class="text-muted frame-status-incidence" ng-class="{'incidence-view-open': incidence.status.currentStatus == 'Open', 'incidence-view-ongoing': incidence.status.currentStatus == 'On Going', 'incidence-view-closed': incidence.status.currentStatus == 'Closed'}"> <strong> <span>{{incidence.status.currentStatus}}</span><span ng-show="incidence.status.currentStatus == 'Closed'"> as {{incidence.status.currentSubstatus}}</span> </strong></div>
                <div ng-show="incidence.status.currentStatus == 'Closed' && incidence.status.currentSubstatus == 'Duplicated'" >Duplicated Of: <a ng-click="goToIncidence(incidence.status.duplicatedOf)"><strong> {{incidence.status.duplicatedOf}} </strong></a></div>
                <div > Owner: <strong> {{ incidence.creator.username}} </strong></div>
                <div > Opened on: {{incidence.created | date:'dd/MM/yyyy'}}</div>
                <div > Severity: <strong>  {{incidence.severity}} </strong></div>
                <div > Priority: <strong> {{incidence.priority}} </strong></div>
            </div>
            <div class="col-md-7">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <rate></rate>
                        </div>
                        <div ng-show="incidence.status.currentStatus != 'Closed'" class="col-md-4">
                            <assign></assign>
                        </div>
                        <div class="col-md-4">
                            <effort></effort>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="col-md-3" style="padding: 20px; padding-top: 13px;">
                <span ng-click="toogleComments()" class="icon-navbar-container btn btn-default pull-right">

                    <span ng-if="!commentsStatus.expanded"> <img src="/modules/helpdesk/modules/incidences/images/icons/expand-24.png" popover-placement="bottom" popover="Expand all comments" popover-trigger="mouseenter"></span>
                    <span ng-if="commentsStatus.expanded"> <img src="/modules/helpdesk/modules/incidences/images/icons/shrink-24.png"popover-placement="bottom" popover="Shrink all comments" popover-trigger="mouseenter"></span>

                </span>
                <span ng-click="toTheBottom()" class="icon-navbar-container btn btn-default pull-right"><img src="/modules/helpdesk/modules/incidences/images/icons/bottomArrow-24.png"  popover-placement="bottom" popover="Go to bottom" popover-trigger="mouseenter"></span>
                <span ng-controller="CloseCtrl" ng-show="((incidence.status.currentStatus == 'On Going') && (incidence.assigned == currentUser.username))" ng-click="openModalClose()" class="icon-navbar-container btn btn-default pull-right" popover-placement="bottom" popover="Close {{incidence.id}}" popover-trigger="mouseenter"> <img src="/modules/helpdesk/modules/incidences/images/icons/close-24.png" ></span>
                <span ng-show="((incidence.status.currentStatus == 'Closed') && (incidence.creator._id == currentUser._id))" 
                ng-click="toogleRateMode()" class="icon-navbar-container btn btn-default pull-right" ng-class="{active: edit.rate}" popover-placement="bottom" popover="Happy with our service?" popover-trigger="mouseenter"><img src="/modules/helpdesk/modules/incidences/images/icons/rating-24.png" ></span>   
                <span ng-show="((incidence.status.currentStatus != 'Closed') && (currentUser.role == 'tech')  && (!incidence.assigned))" ng-click="toogleAssignMode()" class="icon-navbar-container btn btn-default pull-right" ng-class="{active: edit.assign}" popover-placement="bottom" popover="Assign Incidence" popover-trigger="mouseenter"> <img src="/modules/helpdesk/modules/incidences/images/icons/worker-24.png" ></span>
                <span ng-controller="AssignCtrl" ng-show="((incidence.status.currentStatus != 'Closed') && (currentUser.username == incidence.assigned))" ng-click="openModalAssign()" class="icon-navbar-container btn btn-default pull-right" popover-placement="bottom" popover="Assign {{incidence.id}}" popover-trigger="mouseenter"> <img src="/modules/helpdesk/modules/incidences/images/icons/worker-24.png" ></span>
                <span ng-controller="EffortCtrl" ng-show="(currentUser.username == incidence.assigned)" ng-click="openModalEffort()" class="icon-navbar-container btn btn-default pull-right" ng-class="{active: edit.effort}" popover-placement="bottom" popover="Report your effort" popover-trigger="mouseenter"> <img src="/modules/helpdesk/modules/incidences/images/icons/stopwatch-24.png" ></span>
            </div>
        </div>
    </div>

    <div id="frame-incidence-title" style="word-wrap: break-word;"><h4>{{incidence.title}}</h4></div>

<!--<div class="jumbotron">-->
    <pre>
    {{incidence.description}}
    </pre>
<!--</div>-->


    <div class="row frame-reply" ng-show="incidence.history.length == 0 && incidence.status.currentStatus != 'Closed'">
        <reply></reply>
    </div>

    <accordion close-others="false">
      <accordion-group ng-repeat="post in incidence.history" is-open="$index == 0 || commentsStatus.expanded" ng-class="">
        <accordion-heading>
            <span class="badge alert-info" style="padding:8px;">Posted {{post.date | date:'dd/MM/yyyy'}}</span>
             <div class="pull-right">
                <span class="badge alert-info" style="padding:8px;">Posted by: {{post.author}}</span>
             </div>          
        </accordion-heading>
        <div ng-bind-html="post.post | breakFilter"></div>
        <div class="row frame-reply" ng-show="$index == 0 && incidence.status.currentStatus != 'Closed'">
            <reply ng-show="currentUser.role != 'admin'"></reply>
        </div>
      </accordion-group>
    </accordion>

    <section id="bottom" style="padding-top:50px;">
        
    </section>

</div>      