<section ng-init="find()">
	<div class="row" ng-show="incidences.length > 0">
		<div class="row-fluid">	
		  	<div class="span12 list-incidences-container">
			    <table tr-ng-grid="" items="incidences" selected-items="selectedIncidences" selection-mode="SingleRow">
				    <thead class="solid-yellow-bar-fill centered-and-white">
				        <tr class="solid-yellow-bar-fill">
				        	<th field-name="id" cell-width="5em">ID<warg-translate word="SEVERITY"></warg-translate></th>  
				            <th field-name="severity" cell-width="5em">{{ 'SEVERITY' | translate }}</th>  
				            <th field-name="priority" cell-width="5em">{{ 'PRIORITY' | translate }}</th>
				            <th field-name="title">{{ 'TITLE' | translate }}</th>
				            <th field-name="creator.username" cell-width="7em">{{ 'OWNER' | translate }}</th>
				            <th field-name="created" cell-width="8em">{{ 'CREATED' | translate }}</th>
				            <th field-name="updated" cell-width="8em">{{ 'UPDATED' | translate }}</th>
				            <th field-name="status.currentStatus" cell-width="8em">{{ 'STATUS' | translate }}</th>
				            <th field-name="assigned" cell-width="5em">{{ 'ASSIGNED' | translate }}</th>
				        </tr>
				    </thead>
		            <tbody>
		                <tr style="text-align: center;">
		                	<td field-name="severity">
		                		<span class="frame-list-cell" ng-class="{serious: gridItem.severity == 'Serious', high: gridItem.severity == 'High'}">
		                			{{ gridItem.severity | translate }}</span>
		                	</td>
							<td field-name="priority">
								<span class="frame-list-cell" ng-class="{serious: gridItem.priority == 'Serious', high: gridItem.priority == 'High'}">{{ gridItem.priority | translate }}</span>
							</td>
							<td field-name="title">
								<span class="frame-list-cell">  
									<span class="pull-left" >{{gridItem.title.slice(0,50)}}</span>
									<span ng-click="overview(gridItem)" class="pull-right" popover-placement="bottom" popover="Overview {{gridItem.id}}" popover-trigger="mouseenter">
										<img src="/modules/helpdesk/modules/incidences/images/icons/eye-16.png" alt="View Details">
									</span> 
								</span>
							</td>

		                    <!-- Dates: We show Today, Yesterday, 2 days ago or a short date format -->
	                    	<td field-name="created">
		                    	<div popover-placement="bottom" popover="{{ gridItem.created | date:'shortTime' }}" popover-trigger="mouseenter">
		                    		<span ng-if="(gridItem.created | date:'shortDate') == (today | date:'shortDate')">
		                    		Today
		                    		</span>
		                    		<span ng-if="(gridItem.created | date:'shortDate') == (yesterday | date:'shortDate')">
									Yesterday
									</span>
									<span ng-if="(gridItem.created | date:'shortDate') == (twoDaysAgo | date:'shortDate')">
									2 Days ago
									</span>
									<span ng-if="((gridItem.created | date:'shortDate') < (twoDaysAgo | date:'shortDate'))">
									{{gridItem.created | date:'shortDate'}}
									</span>
								</div>
							</td>

							<td field-name="updated">
	                    		<span ng-if="(gridItem.updated[gridItem.updated.length - 1] | date:'shortDate') == (today | date:'shortDate')">
	                    			{{gridItem.updated[gridItem.updated.length - 1] | date:'shortTime'}}
	                    		</span>
	                    		<span ng-if="(gridItem.updated[gridItem.updated.length - 1] | date:'shortDate') != (today | date:'shortDate')">
									{{gridItem.updated[gridItem.updated.length - 1] | date:'shortDate'}}
								</span>
							</td>								

		                    <td field-name="status.currentStatus"><span class="frame-list-cell" ng-class="{open: gridItem.status.currentStatus == 'Open', ongoing: gridItem.status.currentStatus == 'On Going', closed: gridItem.status.currentStatus == 'Closed'}">{{ gridItem.status.currentStatus | translate }}</span></td>
		                </tr>
		            </tbody>
		            <tfoot>
		                <tr>
		                    <td colspan="10">	
		                        <form class="form-inline tr-ng-grid-footer" grid="">
		                            <div class="pull-left" tr-ng-grid-global-filter=""></div>
		                            <div class="pull-right" tr-ng-grid-pager=""></div>
		                        </form>
		                    </td>
		                </tr>
		            </tfoot>
		        </table>
		  	</div>
		</div>
		<!-- Deprecated -->  	
		<!--<div id="overview" ui-view="overview" class="span9"></div>-->
	</div>
	<div class="frame-empty-resource-message" ng-show="incidences.length == 0">
		<h1>No incidences yet. <br> Why don't you <a ng-click="goToState('helpdesk.incidences.create')">Create One</a>?</h1>
	</div>		
</section>