<section ng-init="find()">
	<div class="row" ng-show="incidences.length > 0">
		<div class="row-fluid">	
		  	<div class="span12 list-incidences-container">
			    <table tr-ng-grid="" items="incidences" selected-items="selectedIncidences" selection-mode="None" enable-sorting="false" enable-filtering="true">
				    <thead>
				        <tr display-align="center">
				        	<th field-name="id"></th>  
				            <th field-name="severity">{{ 'Severity' | translate }}</th>  
				            <th field-name="priority" >{{ 'Priority' | translate }}</th>
				            <th field-name="title">{{ 'Title' | translate }}</th>
				            <th field-name="overview" enable-filtering="false"><div> &nbsp;</div></th>
				            <th field-name="creator.username">{{ 'Owner' | translate }}</th>
				            <th field-name="created">{{ 'Created' | translate }}</th>
				            <th field-name="updated">{{ 'Updated' | translate }}</th>
				            <th field-name="status.currentStatus">{{ 'Status' | translate }}</th>
				            <th field-name="assigned">{{ 'Assigned' | translate }}</th>
				        </tr>
				    </thead>
		            <tbody>
		                <tr style="text-align: center;">
		                	<td field-name="severity">
		                		<span class="frame-list-cell" ng-class="{serious: gridItem.severity == 'Serious', high: gridItem.severity == 'High'}">
		                			{{ gridItem.severity | translate }}</span>
		                	</td>
							<td field-name="priority">
								<span class="frame-list-cell" ng-class="{serious: gridItem.priority == 'Serious', high: gridItem.priority == 'High'}">{{ gridItem.priority | translate }}</span>
							</td>
							<td field-name="title">
								<span class="frame-list-cell">  
									<span class="col-md-10" >{{gridItem.title.slice(0,50)}}</span>
								</span>
							</td>

  							<td field-name="overview">
		                        <span ng-click="overview(gridItem)" class="col-md-2" popover-placement="bottom" popover="Overview {{gridItem.id}}" popover-trigger="mouseenter">
									<button class="btn btn-info btn-xs"  style="padding-bottom: 3px;"><img src="/modules/helpdesk/modules/incidences/images/icons/eye-16-black.png" alt="View Details">
	                            	</button>
								</span> 
	                    	</td>

		                    <!-- Dates: We show Today, Yesterday, 2 days ago or a short date format -->
	                    	<td field-name="created">
		                    	<div popover-placement="bottom" popover="{{ gridItem.created | date:'shortTime'}}" popover-trigger="mouseenter">
		                    		<span ng-if="(gridItem.created | date:'shortDate') == (today | date:'shortDate')">
		                    		{{ 'Today' | translate }}
		                    		</span>
		                    		<span ng-if="(gridItem.created | date:'shortDate') == (yesterday | date:'shortDate')">
									{{ 'Yesterday' | translate }}
									</span>
									<span ng-if="(gridItem.created | date:'shortDate') == (twoDaysAgo | date:'shortDate')">
									{{ '2 Days ago' | translate }}
									</span>
									<span ng-if="((gridItem.created | date:'shortDate') != (today | date:'shortDate'))
									&& ((gridItem.created | date:'shortDate') != (yesterday | date:'shortDate'))
									&& ((gridItem.created | date:'shortDate') != (twoDaysAgo | date:'shortDate'))">
									{{gridItem.created | date:'EEE'}} {{gridItem.created | date:'shortDate'}}
									</span>
								</div>
							</td>

							<td field-name="updated">
	                    		<span ng-if="(gridItem.updated[gridItem.updated.length - 1] | date:'shortDate') == (today | date:'shortDate')">
	                    			{{gridItem.updated[gridItem.updated.length - 1] | date:'shortTime'}}
	                    		</span>
	                    		<span ng-if="(gridItem.created | date:'shortDate') == (yesterday | date:'shortDate')">
									{{ 'Yesterday' | translate }}
								</span>
								<span ng-if="(gridItem.updated[gridItem.updated.length - 1] | date:'shortDate') == (twoDaysAgo | date:'shortDate')">
									{{ '2 Days ago' | translate }}
								</span>
								<span ng-if="(gridItem.updated[gridItem.updated.length - 1] | date:'shortDate'!= (today | date:'shortDate'))
								&& ((gridItem.updated[gridItem.updated.length - 1] | date:'shortDate') != (yesterday | date:'shortDate'))
								&& ((gridItem.updated[gridItem.updated.length - 1] | date:'shortDate') != (twoDaysAgo | date:'shortDate'))">
									{{(gridItem.updated[gridItem.updated.length - 1] | date:'EEE') | translate}}
									{{gridItem.updated[gridItem.updated.length - 1] | date:'shortDate'}}
								</span>
	                    		<!--<span ng-if="(gridItem.updated[gridItem.updated.length - 1] | date:'shortDate') != (today | date:'shortDate')">
									{{gridItem.updated[gridItem.updated.length - 1] | date:'shortDate'}}
								</span>-->
							</td>								

		                    <td field-name="status.currentStatus"><span class="frame-list-cell" ng-class="{open: gridItem.status.currentStatus == 'Open', ongoing: gridItem.status.currentStatus == 'On Going', closed: gridItem.status.currentStatus == 'Closed'}">{{ gridItem.status.currentStatus | translate }}</span>
		                    </td>

		                    <td>
		                        <div>
		                            <button class="btn btn-success btn-xs" ng-click="openIncidence(gridItem.id)">
		                                {{ 'BUTTON.OPEN' | translate }}
		                            </button>
		                        </div>
	                    	</td>
		                </tr>
		            </tbody>
		            <tfoot>
		                <tr>
		                    <td colspan="10">	
		                        <form class="form-inline tr-ng-grid-footer" grid="">
		                            <div class="pull-left" tr-ng-grid-global-filter=""></div>
		                            <div class="pull-right" tr-ng-grid-pager=""></div>
		                        </form>
		                    </td>
		                </tr>
		            </tfoot>
		        </table>
		  	</div>
		</div>
	</div>
	<div class="frame-empty-resource-message" ng-show="incidences.length == 0">
		<h1>No incidences yet. <br> Why don't you <a ng-click="goToState('helpdesk.incidences.create')">Create One</a>?</h1>
	</div>		
</section>