<section ng-init="findOne()">
<div class="container-overview">

    <div class="row header" style="padding:10px;">
        <div style="word-wrap: break-word;" class="text-muted col-md-10"><h4>{{incidence.title}}</h4></div>
        <div class="nav nav-pills col-md-2">
            <div class="pull-right" ng-click="open()"><span class="btn btn-default btn-xs"><img src="/modules/helpdesk/modules/incidences/images/icons/eye-32.png" alt="Open Incidence"></span></div>
             <div class="pull-right" ng-click="toTheTop()"><span class="btn btn-default btn-xs"><img src="/modules/helpdesk/modules/incidences/images/icons/arrow-top-32.png" alt="Close Incidence Overview"></span></div>
        </div>
        
    </div>

    <!--<div class="jumbotron" style="margin-top: 30px">-->
        <pre>
        {{incidence.description}}
        </pre>
    <!--</div>-->

</div> <!-- /container -->
</section>