<div ng-controller="AssignCtrl">
	<div class="box-edit-assign" ng-show="edit.assign">		
        <div ng-show="assign.allowUpdate" class="row" style="margin-bottom: 5px;">
        	<div class="pull-left text-muted">
        		{{assign.currentAssignation}}
        	</div>
        	<div class="pull-right">  					
				<div ng-click="poolAssignation()" class="">
					<span><img src="/modules/incidences/images/icons/ok-16.png" alt="Save Assignation"></span>
				</div>
            </div>
        </div>
        <div class="row">
         	<div class="dropdown-technicians"> 		
	         	 <!-- Split button -->
			    <div class="btn-group" dropdown>
			      <button type="button" class="btn btn-default">Assign</button>
			      <button type="button" class="btn btn-default dropdown-toggle">
			        <span class="caret"></span>
			        <span class="sr-only">Choose a technician</span>
			      </button>
			      <ul class="dropdown-menu" role="menu">
			      	<li ng-repeat="technician in assign.techniciansList">
			      		<a class="assign-dropdown-row" ng-click="assignTo(technician)">{{technician}}</a>
			      	</li>
			        <li class="divider"></li>
			        <li>Me: {{currentUser.username}}</li>
			      </ul>
			    </div>
         	</div>
        </div>
	</div>    
	<div class="box-show-assign" ng-show="!edit.assign">
		<div ng-show="incidence.assigned == null || incidence.assigned == ''">
				<div> <img src="/modules/incidences/images/icons/worker-gray-48.png" alt="Rating"></div>
				<font size="1" class="text-muted">No technician assigned</font>
		</div>
		<div ng-show="incidence.assigned != null && incidence.assigned != ''">
           <div> <img src="/modules/incidences/images/icons/worker-blue-48.png" alt="Rating"></div>
				<font size="1" class="text-muted">{{incidence.assigned}}</font>
        </div> 
	</div> 
</div>