<div ng-controller="AssignCtrl" class="box-incidence-datails">
	<div ng-show="edit.assign">		
    <div>

      <!-- show dropdown -->
      <div ng-show="assign.techniciansListReady && !assign.techniciansListEmpty">
        <div class="row" style="margin-bottom:2px;"> 
          <div class="pull-left text-muted">Select Assignee:</div>    
        </div>
        <div class="row">
          <ui-select ng-model="technician.selected" theme="selectize" class="assign-select-dropdown pull-left">
            <ui-select-match placeholder="Assign tech"> <span class="severity-priority-select">{{$select.selected.username}}</ui-select-match></span>
            <ui-select-choices repeat="technician in assign.techniciansList">
              <div ng-bind-html="technician.username" class="severity-priority-select" ng-click="assignTo(technician)"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="row pull-left">
        <div ng-show="assign.allowUpdate">
          <div ng-click="poolAssignation()">
            <div class="btn btn-primary">Submit Assignee</div>
          </div>  
        </div>
      </div>
      </div>

      <!-- show refresh -->
      <div ng-show="!assign.techniciansListReady">
        <div ng-click="refreshTechnicians()">
          <div class="btn btn-default">&nbsp;<img src="/modules/incidences/images/icons/synchronize-24.png">&nbsp;Retrieve list&nbsp;</div>
        </div>  
      </div>

      <!-- show unavailability message -->
      <div ng-show="assign.techniciansListEmpty && assign.techniciansListReady">
        <div class="frame-div-warning">No technicians available. <br> Plase contact your administrator</div>
      </div>
    </div>

	</div>    
	<div ng-show="!edit.assign">
		<div ng-show="incidence.assigned == null || incidence.assigned == ''">
				<div> <img src="/modules/incidences/images/icons/worker-gray-48.png" alt="Rating"></div>
				<font size="1" class="text-muted">No technician assigned</font>
		</div>
		<div ng-show="incidence.assigned != null && incidence.assigned != ''">
      <div> <img src="/modules/incidences/images/icons/worker-blue-48.png" alt="Rating"></div>
			<font size="1" class="text-muted">{{incidence.assigned}}</font>
    </div> 
	</div> 
</div>