<div class="container col-md-10 col-md-offset-1">
    <div class="panel panel-info incidences-form-container">
      <div class="panel-heading">
        <div class="panel-title" style="text-align: center;">Create new incidence form</div>
      </div>  
      <div class="panel-body" style="padding-top:40px">
        <form class="form" name="form" ng-submit="createIncidence(form)" ng-controller="CreateIncidenceFormCtrl">
          <div class="input-group form-line-frame">
              <input
                type="text"
                name="title"
                class="form-control"
                ng-model="title"
                autofocus
                placeholder="Title"
                mongoose-error
                required
                ng-minlength="10"
                ng-maxlength="150"/>
                <div class="input-group-addon bg-success">{{ titleLength(form) }}</div>
          </div>

          <div ng-if="changed(form.title)" ng-messages="form.title.$error">
            <div class="frame-error-arrowup" ng-message="required">Sorry, this field can´t be empty...</div>
            <div class="frame-error-arrowup" ng-message="minlength">Sorry, minimum title lenght required 10 characters.</div>
            <div class="frame-error-arrowup" ng-message="maxlength">Sorry, maximum title lenght is 150 characters. </div>
          </div>
                
          <div class="input-group form-line-frame">
              <textarea style="resize:vertical; min-height: 200px;"
                type="text"
                name="description"
                class="form-control"
                placeholder="Description"
                ng-model="description"
                mongoose-error
                required
                ng-minlength="30"
                ng-maxlength="1500"/></textarea>          
                <div class="input-group-addon bg-success">{{ descriptionLength(form) }}</div>
          </div> 

          <div ng-if="changed(form.description)" ng-messages="form.description.$error" style="margin-bottom: 10px">
            <div class="frame-error-arrowup" ng-message="required">Sorry, this field can´t be empty...</div>
            <div class="frame-error-arrowup" ng-message="minlength">Sorry, minimum description lenght required is 30 characters.</div>
            <div class="frame-error-arrowup" ng-message="maxlength">Sorry, maximum description lenght required is 1500 characters.</div>
          </div>

          <h5>Severity</h5>
           <ui-select ng-model="severity.selected" theme="selectize" style="width: 120px;">
            <ui-select-match placeholder="{{severity.type}}"> <span class="severity-priority-select" ng-class="{serious: $select.selected.type == 'Serious', high: $select.selected.type == 'High'};">{{$select.selected.type}}</ui-select-match></span>
            <ui-select-choices repeat="severity in urgencyTypes">
              <div ng-bind-html="severity.type" class="severity-priority-select" ng-class="{serious: severity.type == 'Serious', high: severity.type == 'High'};"></div>
            </ui-select-choices>
          </ui-select>
          <h5>Priority</h5>
          <ui-select ng-model="priority.selected" theme="selectize" style="width: 120px;">
            <ui-select-match placeholder="{{priority.type}}"> <span class="severity-priority-select" ng-class="{serious: $select.selected.type == 'Serious', high: $select.selected.type == 'High'};">{{$select.selected.type}}</ui-select-match></span>
            <ui-select-choices repeat="priority in urgencyTypes">
              <div ng-bind-html="priority.type" class="severity-priority-select" ng-class="{serious: priority.type == 'Serious', high: priority.type == 'High'};"></div>
            </ui-select-choices>
          </ui-select>

          <div style="text-align:center;">
            <input ng-disabled="form.$invalid" class="btn btn-success" value="Create Incidence" type="submit" ngClick="Submit">
          </div>
        </form>
      </div>
    </div>      
  </div> 
</div>