<div class="container" style="width: 100%;">
    <div class="panel panel-info incidences-form-container">
      <div class="panel-heading">
        <div class="panel-title">New incidence</div>
      </div>  
      <div class="panel-body" style="padding-top:40px">
        <form class="form" name="form" ng-submit="create(title, description, severity.selected.type, priority.selected.type)" style="margin-bottom: 30px">
          <div style="margin-bottom: 15px;" class="input-group">
              <input
                type="text"
                name="title"
                class="form-control"
                ng-model="title"
                autofocus
                placeholder="Title"
                mongoose-error
                required
                ng-minlength="10"
                ng-maxlength="100"/>
                <div class="input-group-addon bg-success">{{ title.length }}</div>
          </div>

          <div ng-if="changed(form.title)" ng-messages="form.title.$error" ng-messages-include="modules/incidences/views/partials/error-messages.html">
            <div class="arrow_box" ng-message="minlength">Minimum title lenght required 10 characteres.</div>
            <div class="arrow_box" ng-message="maxlength">The title is too long...</div>
          </div>
                
          <div style="margin-bottom: 15px" class="input-group">
              <textarea style="resize:vertical; min-height: 200px;" type="text"
                name="description"
                class="form-control"
                placeholder="Description"
                ng-model="description"
                mongoose-error
                required
                ng-minlength="25"
                ng-maxlength="200"/></textarea> 
               
                <div class="input-group-addon bg-success">{{ description.length }}</div>
          </div> 

          <div ng-if="changed(form.description)" ng-messages="form.description.$error" style="margin-bottom: 10px" ng-messages-include="modules/incidences/views/partials/error-messages.html">
            <div class="arrow_box" ng-message="minlength">Minimum description lenght required is 25 characteres </div>
            <div class="arrow_box" ng-message="maxlength">The description is too long...</div>
          </div>

          <h5>Severity</h5>
             <ui-select ng-model="severity.selected" theme="selectize" style="width: 120px;">
              <ui-select-match placeholder="{{severity.type}}"> <span class="severity-priority-select" ng-class="{serious: $select.selected.type == 'Serious', high: $select.selected.type == 'High'};">{{$select.selected.type}}</ui-select-match></span>
              <ui-select-choices repeat="severity in urgencyTypes">
                <div ng-bind-html="severity.type" class="severity-priority-select" ng-class="{serious: severity.type == 'Serious', high: severity.type == 'High'};"></div>
              </ui-select-choices>
            </ui-select>
          <h5>Priority</h5>
            <ui-select ng-model="priority.selected" theme="selectize" style="width: 120px;">
              <ui-select-match placeholder="{{priority.type}}"> <span class="severity-priority-select" ng-class="{serious: $select.selected.type == 'Serious', high: $select.selected.type == 'High'};">{{$select.selected.type}}</ui-select-match></span>
              <ui-select-choices repeat="priority in urgencyTypes">
                <div ng-bind-html="priority.type" class="severity-priority-select" ng-class="{serious: priority.type == 'Serious', high: priority.type == 'High'};"></div>
              </ui-select-choices>
            </ui-select>
          <div style="margin-top:20px; margin-bottom:20px; text-align:center;" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <input class="btn btn-success" value="Submit" type="submit" ngClick="Submit">
              </div>
          </div>
        </form>
      </div>
    </div>      
  </div> 
</div>