<div ng-controller="EffortCtrl">
	<div ng-show="edit.effort">
		<div class="row">
         	<div class="pull-left"> 
         	<div class="controls input-group time-input">
                 <input ng-change="effortChanged()" type="number" ng-model="effort.hours" class="form-control" placeholder="hours"><div class="input-group-addon">h</div>
                 <input ng-change="effortChanged()" type="number" ng-model="effort.minutes" class="form-control" placeholder="minutes"><div class="input-group-addon">m</div>
            </div>		    
         	</div>
			<div ng-show="effort.allowToPool" class="pull-right" style="margin:5px;">  					
				<div ng-click="poolEffort()"> <img src="/modules/incidences/images/icons/ok-16.png" alt="Save time reporting"></div>
            </div>
        </div>    
	</div>    
	<div ng-show="!edit.effort">
		<div ng-show="incidence.effort == -1">
			<div> <img src="/modules/incidences/images/icons/stopwatch-gray-48.png" alt="Time"></div>
			<font size="1" class="text-muted">No time reported</font>
		</div>
		<div ng-show="incidence.effort > -1">
            <div> <img src="/modules/incidences/images/icons/stopwatch-blue-48.png" alt="Rating"></div>
                <font size="1" class="text-muted">{{incidence.effort / 60}} hours {{incidence.effort % 60 }} minutes</font>
        </div> 
	</div> 
</div>