<div ng-controller="EffortCtrl">
	<div class="box-edit-effort" ng-show="edit.effort">
		<div class="row">
         	<div class="pull-left"> 
         	<div class="controls input-group time-input">
                 <input type="number" ng-model="hours" class="form-control" placeholder="hours" class="form-control"><div class="input-group-addon bg-success">h</div>
                 <input type="number" ng-model="minutes" class="form-control" placeholder="minutes" class="form-control"><div class="input-group-addon">m</div>
            </div>		
	        
         	</div>
			<div class="pull-right save-button">  					
				<div ng-click="saveAssign()" class="btn btn-default"> <img src="/modules/incidences/images/icons/save-24.png" alt="Save time reporting"></div>
            </div>
        </div>    
	</div>    
	<div class="box-show-effort" ng-show="!edit.effort">
		<div ng-show="incidence.effort == -1">
			<div> <img src="/modules/incidences/images/icons/stopwatch-gray-48.png" alt="Time"></div>
			<font size="1" class="text-muted">No time reported</font>
		</div>
		<div ng-show="incidence.effort > -1">
            <div class="row">
             	<div class="pull-left"> <img src="/modules/incidences/images/icons/stopwatch-blue-48.png" alt="Incidence Assigned">
             	</div>
  				<div class="pull-right">  					
  					{{incidence.assigned.username}}
	            </div>    
            </div>    
        </div> 
	</div> 
</div>