<div class="container-incidence" ng-init="findOne()">

<div id="incidence-nav-container">        
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container" style="padding:5px; padding-left: 12%;">
         <div class="row">
            <div class="pull-left incidence-details">
                <div class="pull-left box-incidence-datails">
                    <rate></rate>
                </div>
                <div class="pull-left box-incidence-datails">
                    <assign></assign>
                </div>
                <div class="pull-left box-incidence-datails">
                    <effort></effort>
                </div>
            </div>
            <div class="pull-right">
                <div class="row" style="margin-top:10px; margin-bottom:10px;">
                    <span class="text-muted">Incidence Id: {{incidence._id}}</span>
                </div>
                <div class="row">    
                    <span ng-show="incidenceAuth.close" ng-click="goToState(close)" class="icon-navbar-container btn btn-default"> <img src="/modules/incidences/images/icons/close-24.png" alt="View Details"></span>
                    <span ng-show="incidenceAuth.rate" ng-click="toogleRateMode()" class="icon-navbar-container btn btn-default" ng-class="{active: edit.rate}"><img src="/modules/incidences/images/icons/rating-24.png" alt="View Details"></span>   
                    <span ng-show="incidenceAuth.assign" ng-click="toogleAssignMode()" class="icon-navbar-container btn btn-default" ng-class="{active: edit.assign}"> <img src="/modules/incidences/images/icons/worker-24.png" alt="View Details"></span>
                    <span ng-show="incidenceAuth.effort" ng-click="toogleEffortMode()" class="icon-navbar-container btn btn-default" ng-class="{active: edit.effort}"> <img src="/modules/incidences/images/icons/stopwatch-24.png" alt="View Details"></span>             
                    <span ng-click="toTheReply()" class="icon-navbar-container btn btn-default"><img src="/modules/incidences/images/icons/reply-24.png" alt="View Details"></span> 
                </div>
            </div>     
        </div>
	</nav>
</div>

<div class="header-incidence">
    <h3 class="text-muted">{{incidence.title}}</h3>
</div>


<div class="jumbotron">
    <pre>
    {{incidence.description}}
    </pre>
</div>

<accordion close-others="false">
  <accordion-group ng-repeat="post in incidence.history" is-open="$index == incidence.history.length -1" ng-class="">
    <accordion-heading>
     <span class="badge badge-info">Posted {{post.date | date:'medium'}}</span>
     <div class="pull-right">
        <span class="badge badge-success">Posted by: {{post.author}}</span>
        <!--<span ng-show="$index == incidence.history.length -1" ng-click="goToState(reply)" class="icon-navbar-container"> <img src="/modules/incidences/images/icons/reply-24.png" alt="View Details"></span>-->
     </div>
    </accordion-heading>
    {{post.post}}
  </accordion-group>
</accordion>

<div id="incidence-reply">
    <div class="pull-right" style="margin-bottom: 10px;">    
        <div ng-click="toTheTop()"><img src="/modules/incidences/images/icons/arrow-top-24.png" alt="
        Close Incidence Overview"></div>
    </div>
    <div class="pull-right" style="margin-bottom: 10px;">    
        <div ng-click="sendReply()"> <img src="/modules/incidences/images/icons/reply-24-blue.png" alt="Save Rating"></div>
    </div>
    <div class="form-group">
        <div class="controls">
            <textarea ng-model="reply" class="form-control" rows="10" placeholder=""></textarea>
        </div>
    </div>
</div>  

