<div ng-init="findOne()">
    <div id="incidence-nav-container" ng-controller="IncidenceNavCtrl">          
        <div class="row">
            <div class="col-md-2" style="padding: 10px; padding-left: 25px;">
                <div class="text-muted">Incidence: <strong> {{incidence.id}} </strong></div>
                <div class="text-muted"> <strong> {{ incidence.creator.username}} </strong></div>
                <div class="text-muted"> On: {{incidence.created | date:'shortDate'}}</div>
                <div class="text-muted"> Severity: <strong>  {{incidence.severity}} </strong></div>
                <div class="text-muted"> Priority: <strong> {{incidence.priority}} </strong></div>
            </div>
            <div class="col-md-7" style="padding-left: 80px; padding-right: 60px;">
                <div class="row">
                    <div class="col-md-4">
                        <rate></rate>
                    </div>
                    <div class="col-md-4">
                        <assign></assign>
                    </div>
                    <div class="col-md-4">
                        <effort></effort>
                    </div>
                </div>    
            </div>    
            <div class="col-md-3" style="padding: 20px; padding-top: 13px;">
                <span ng-click="toogleComments()" class="icon-navbar-container btn btn-default pull-right">

                    <span ng-if="!commentsStatus.expanded"> <img src="/modules/incidences/images/icons/expand-24.png" popover-placement="bottom" popover="Expand all comments" popover-trigger="mouseenter"></span>
                    <span ng-if="commentsStatus.expanded"> <img src="/modules/incidences/images/icons/shrink-24.png"popover-placement="bottom" popover="Shrink all comments" popover-trigger="mouseenter"></span>

                </span>
                <span ng-click="toTheBottom()" class="icon-navbar-container btn btn-default pull-right"><img src="/modules/incidences/images/icons/bottomArrow-24.png"  popover-placement="bottom" popover="Go to bottom" popover-trigger="mouseenter"></span>
                
                <span ng-controller="CloseCtrl" ng-show="((incidence.status == 'On Going') && (incidence.assigned == currentUser.username))" ng-click="closeIncidence()" class="icon-navbar-container btn btn-default pull-right" popover-placement="bottom" popover="Close {{incidence.id}}" popover-trigger="mouseenter"> <img src="/modules/incidences/images/icons/close-24.png" ></span>
                <span ng-show="((incidence.status == 'Close') && (incidence.creator == currentUser))" 
                ng-click="toogleRateMode()" class="icon-navbar-container btn btn-default pull-right" ng-class="{active: edit.rate}" popover-placement="bottom" popover="Happy with our service?" popover-trigger="mouseenter"><img src="/modules/incidences/images/icons/rating-24.png" ></span>   
                <span ng-show="((incidence.status != 'Close') && (currentUser.role != 'user'))" ng-click="toogleAssignMode()" class="icon-navbar-container btn btn-default pull-right" ng-class="{active: edit.assign}" popover-placement="bottom" popover="Assign Incidence" popover-trigger="mouseenter"> <img src="/modules/incidences/images/icons/worker-24.png" ></span>
                <span ng-show="(currentUser.username == incidence.assigned)" ng-click="toogleEffortMode()" class="icon-navbar-container btn btn-default pull-right" ng-class="{active: edit.effort}" popover-placement="bottom" popover="Report your effort" popover-trigger="mouseenter"> <img src="/modules/incidences/images/icons/stopwatch-24.png" ></span>
            </div>     
        </div>
    </div>

    <div id="frame-incidence-title" class="text-muted" style="word-wrap: break-word;"><h4>{{incidence.title}}</h4></div>

<!--<div class="jumbotron">-->
    <pre>
    {{incidence.description}}
    </pre>
<!--</div>-->


    <div class="row frame-reply" ng-show="incidence.history.length == 0">
        <reply></reply>
    </div>

    <accordion close-others="false">
      <accordion-group ng-repeat="post in incidence.history" is-open="$index == 0 || commentsStatus.expanded" ng-class="">
        <accordion-heading>
            <span class="badge alert-info" style="padding:8px;">Posted {{post.date | date:'medium'}}</span>
            <div class="pull-right">
                <span ng-show="($index == incidence.history.length -1)" ng-click="toTheTop()" class="icon-navbar-container btn btn-default pull-right"><img src="/modules/incidences/images/icons/topArrow-16.png" popover-placement="top" popover="Go to top" popover-trigger="mouseenter"></span>
             </div>
             <div class="pull-right">
                <span class="badge alert-info" style="padding:8px;">Posted by: {{post.author}}</span>
             </div>          
        </accordion-heading>
        <div ng-bind-html="post.post | breakFilter"></div>
        <div class="row frame-reply" ng-show="$index == 0">
            <reply></reply>
        </div>
      </accordion-group>
    </accordion>

   <section id="bottom"></section>
</div>      

