<section ng-init="findOne()">
<div class="container-overview">

    <div class="row header" style="padding:20px;">
        <ul class="nav nav-pills pull-right">
            <li  ng-click="open()"><span class="btn btn-default"><img src="/modules/incidences/images/icons/eye-32.png" alt="Open Incidence"></span></li>
             <li ng-click="toTheTop()"><span class="btn btn-default"><img src="/modules/incidences/images/icons/arrow-top-32.png" alt="Close Incidence Overview"></span></li>
        </ul>
        <h4 class="text-muted">{{incidence.title}}</h4>
    </div>

    <!--<div class="jumbotron" style="margin-top: 30px">-->
        <pre>
        {{incidence.description}}
        </pre>
    <!--</div>-->

</div> <!-- /container -->
</section>