<section ng-init="findOne()">
<div class="container-overview">

 	<div class="header">
        <ul class="nav nav-pills pull-right">
          <span ng-click="open()"> <img src="/modules/incidences/images/icons/eye-48.png" alt="View Details"></span></li>
        </ul>
        <h3 class="text-muted">{{incidence.title}}</h3>
    </div>
     

    <div class="jumbotron" style="margin-top: 30px">
        <pre>
        {{incidence.content}}
        </pre>
    </div>

</div> <!-- /container -->
</section>