  <select ng-model="chartType">
    <option value="pie">pie</option>
    <option value="bar">bar</option>
    <option value="line">line</option>
    <option value="point">point</option>
    <option value="area">area</option>
  </select>

  <span ng-show="chartType==='pie'">
    <label for="innerRadius">Radius:</label>
    <input ng-model="statisticsConfig.innerRadius" type="number" id="innerRadius" />
  </span>

  <br />

  <div ac-chart="chartType" ac-data="statisticsData" ac-config="statisticsConfig"></div>