<section ng-init="find()">
	<div class="row-fluid" ng-show="schools.length > 0">	
	  	<div class="col-md-12 list-schools-container">
		    <table tr-ng-grid="" items="schools" selected-items="selectedSchools" 
		    selection-mode="None" enable-sorting="false">
			    <thead>
			        <tr>
			            <th field-name="code" cell-width="8em">Code</th>  
			            <th field-name="name" cell-width="12em">Name</th>
			            <th field-name="address" cell-width="14em">Address</th>				
			        </tr>
			    </thead>
	            <tbody>
		            <tr>
	                    <td>
	                        <div>  
	                            <button class="btn btn-xs btn-success" ng-click="openSchool(gridItem._id)">{{ 'BUTTON.OPEN' | translate }}
	                            </button>
	                        </div>
	                    </td>
	                </tr>
	            </tbody>
	            <tfoot>
	                <tr>
	                    <td colspan="10">	
	                        <form class="form-inline tr-ng-grid-footer" grid="">
	                            <div class="pull-left" tr-ng-grid-global-filter=""></div>
	                            <div class="pull-right" tr-ng-grid-pager=""></div>
	                        </form>
	                    </td>
	                </tr>
	            </tfoot>
	        </table>
	  	</div>
	  	<div id="school" ui-view="school" class="col-md-5"></div>		  	  	
	</div>  
	<div class="frame-empty-resource-message" ng-show="schools.length == 0">
		<h1>No schools yet. <br> Why don't you <a ng-click="goToState('helpdesk.schools.create.school')">Create One</a>?</h1>
	</div>		
</section>
<!--<div ng-init="find()">
		  	<div class="row">
		        <div class="col-md-6" style="border: solid;">
		          <table tr-ng-grid="" ng-init="alertOnSelectionChange();" items="schools" selected-items="selectedSchools" selection-mode="SingleRow"></table>
		        </div>  
		        <div class="col-md-6" style="border: solid;">
		          <table tr-ng-grid="" items="selectedSchools" selection-mode="None"></table>
		        </div>
	      	</div>
</div>-->