<div class="container col-md-4 col-md-offset-4">
  <div class="panel panel-info sign-form-container">
    <div class="panel-heading">
      <div class="panel-title" style="text-align: center;">Please sign in</div>
    </div>     
    <div class="panel-body" style="padding-top:15px">
      <form id="form" class="frame-form" name="form" ng-submit="login(form)" ng-controller="CreateUserFormCtrl">                    
        <div class="input-group form-line-frame">
          <span class="input-group-addon"><img src="/modules/sign/images/at-16.png"></span>
          <input 
            type="text"
            name="email"
            class="form-control"
            placeholder="Email"
            ng-model="user.email"
            required
            autofocus
            mongoose-error>
        </div> 

         <div ng-if="changed(form.email)" ng-messages="form.email.$error" ng-messages-include="modules/sign/views/partials/error-messages.html">
          <div class="frame-error-arrowup" ng-message="mongoose">{{errors.email}}</div>
        </div>

        <div class="form-line-frame input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input 
             type="password"
             class="form-control"
             placeholder="Password"
             name="password"
             ng-model="user.password"
             required
             mongoose-error>
        </div> 

        <div ng-if="changed(form.password)" ng-messages="form.password.$error" ng-messages-include="modules/sign/views/partials/error-messages.html">
          <div class="frame-error-arrowup" ng-message="mongoose">{{errors.password}}</div>
        </div>

        <div style="text-align:center;">
          <input ng-disabled="form.$invalid" class="btn btn-success" value="Sign In" type="submit" ngClick="Submit">
        </div>
      </form>     
    </div>                     
  </div>  
</div>