<div class="container col-md-4 col-md-offset-4">
  <div class="panel panel-info shadow-form-container sign-form-container">
    <div class="panel-heading">
      <div class="panel-title" style="text-align: center;">Sign in</div>
    </div>     
    <div class="panel-body" style="padding-top:40px">
      <form name="form" ng-submit="login(form)" ng-controller="SigninFormCtrl">                    
        <div class="input-group form-line-frame">
          <span class="input-group-addon"><img src="/modules/sign/images/at-16.png"></span>
          <input 
            type="text"
            name="email"
            class="form-control"
            placeholder="Email"
            ng-model="email"
            required
            autofocus
            mongoose-error>
        </div> 

        <div ng-if="changed(form.email)" ng-messages="form.email.$error">
          <div class="frame-error-arrowup" ng-message="required">Please introduce an email account.</div>
        </div>

        <div class="form-line-frame input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input 
             type="password"
             class="form-control"
             placeholder="Password"
             name="password"
             ng-model="password"
             required
             mongoose-error>
        </div> 

        <div ng-if="changed(form.password)" ng-messages="form.password.$error">
          <div class="frame-error-arrowup" ng-message="required">Password is missing.</div>
          <div class="frame-error-arrowup" ng-message="mongoose">{{errors.password}}</div>
        </div>

        <div style="text-align:center;">
          <input ng-disabled="form.$invalid" class="btn btn-success" value="Sign In" type="submit" ngClick="Submit">
        </div>
      </form>     
    </div>                     
  </div>  
</div>